/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #76552d;
}

#userHeader {
  background: #334848;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 48px;
  z-index: 9;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.459);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.459);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  -ms-grid-rows: 20px 20px 8px;
      grid-template-rows: 20px 20px 8px;
      grid-template-areas: "thumbnail userName" "thumbnail userID" "userProgress userProgress";
}

#userHeader img {
  height: 40px;
  width: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: thumbnail;
  background-color: #d8bb97;
  overflow: hidden;
}

#userHeader #userName {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: userName;
  font-size: 16px;
  line-height: 16px;
  margin: 4px 0 0 5px;
  font-weight: 600;
  color: #c3d5d5;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#userHeader #userName:hover {
  color: white;
}

#userHeader #userID {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: userID;
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  margin: 3px 0 3px 10px;
  color: #94b3b3;
}

#userHeader #userID span {
  cursor: pointer;
  margin: 0 2px;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#userHeader #userID span:hover {
  color: #c3d5d5;
}

#userHeader #userProgress {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: userProgress;
  background-color: #111818;
  width: 100%;
}

#userHeader #userProgress .progressNow {
  -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white;
}

#userHeader #userProgress td:nth-child(37) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(38) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(39) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(40) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(41) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(42) {
  background-color: #557777;
}

#userHeader #userProgress td:nth-child(43) {
  background-color: #557777;
}

#userHeader #userProgress td:nth-child(44) {
  background-color: #557777;
}

#userHeader #userProgress td:nth-child(45) {
  background-color: #557777;
}

#userHeader #userProgress td:nth-child(46) {
  background-color: #557777;
}

#userHeader #userProgress td:nth-child(56) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(57) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(58) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(59) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(60) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(61) {
  background-color: #1a80b3;
}

#userHeader #userProgress td:nth-child(62) {
  background-color: #1a80b3;
}

#userHeader #userProgress td:nth-child(63) {
  background-color: #1a80b3;
}

#userHeader #userProgress td:nth-child(64) {
  background-color: #1a80b3;
}

#userHeader #userProgress td:nth-child(65) {
  background-color: #82c9ed;
}

#userHeader #userProgress td:nth-child(66) {
  background-color: #1a80b3;
}

#userHeader #userProgress td:nth-child(67) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(68) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(69) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(70) {
  background-color: #1a80b3;
}

#userHeader #userProgress td:nth-child(71) {
  background-color: #1a80b3;
}

#userHeader #userProgress td:nth-child(72) {
  background-color: #1a80b3;
}

#userHeader #userProgress td:nth-child(73) {
  background-color: #82c9ed;
}

#userHeader #userProgress td:nth-child(74) {
  background-color: #82c9ed;
}

#userHeader #userProgress td:nth-child(75) {
  background-color: #82c9ed;
}

#userHeader #userProgress td:nth-child(76) {
  background-color: #946b38;
}

#userHeader #userProgress td:nth-child(77) {
  background-color: #c1945c;
}

#userHeader #userProgress td:nth-child(78) {
  background-color: #c1945c;
}

#userHeader #userProgress td:nth-child(79) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(80) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(81) {
  background-color: #c1945c;
}

#userHeader #userProgress td:nth-child(82) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(83) {
  background-color: #c1945c;
}

#userHeader #userProgress td:nth-child(88) {
  background-color: #c1945c;
}

#userHeader #userProgress td:nth-child(89) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(90) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(91) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(92) {
  background-color: #3babe3;
}

#userHeader #userProgress td:nth-child(93) {
  background-color: #82c9ed;
}

#userHeader #userProgress td:nth-child(94) {
  background-color: #82c9ed;
}

#userHeader #userProgress td:nth-child(95) {
  background-color: #82c9ed;
}

#userHeader #userProgress td:nth-child(96) {
  background-color: #946b38;
}

#userHeader #userProgress td:nth-child(97) {
  background-color: #c1945c;
}

#userHeader #userProgress td:nth-child(98) {
  background-color: #c1945c;
}

#userHeader #userProgress td:nth-child(99) {
  background-color: #d8bb97;
}

#userHeader #userProgress td:nth-child(115) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(116) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(117) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(118) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(119) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(120) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(121) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(122) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(123) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(124) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(125) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(126) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(127) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(128) {
  background-color: #abc4c4;
}

#userHeader #userProgress td:nth-child(129) {
  background-color: #abc4c4;
}

#navCrop {
  overflow: clip;
  border-radius: 5px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 10;
  -webkit-transition: height 1s, width 1.5s;
  transition: height 1s, width 1.5s;
  width: 30px;
  height: 30px;
}

#navCrop #navPanel {
  background: #e3ceb5;
  width: 300px;
  height: calc(100vh - 10px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 30px;
      grid-template-columns: 270px 30px;
  -ms-grid-rows: 30px auto;
      grid-template-rows: 30px auto;
      grid-template-areas: "navPage navButton" "navBody navBody";
  z-index: 7;
}

#navCrop #navButton {
  position: fixed;
  background-color: #594022;
  right: 9px;
  top: 9px;
  width: 22px;
  height: 22px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navButton;
  z-index: 9;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-transition: background .4s, -webkit-box-shadow .4s;
  transition: background .4s, -webkit-box-shadow .4s;
  transition: background .4s, box-shadow .4s;
  transition: background .4s, box-shadow .4s, -webkit-box-shadow .4s;
}

#navCrop #navButton:hover {
  background-color: #946b38;
  -webkit-box-shadow: 0 0 8px #e3ceb5;
          box-shadow: 0 0 8px #e3ceb5;
}

#navCrop #navPage {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navPage;
  height: 22px;
  line-height: 22px;
  padding: 0 0 0 5px;
  background-color: #b18043;
  border-radius: 4px;
  border: none;
  position: fixed;
  right: 35px;
  top: 9px;
  top: -30px;
  width: 261px;
  z-index: 7;
  color: #3b2b16;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: background .4s, top .5s;
  transition: background .4s, top .5s;
}

#navCrop #navPage::-webkit-input-placeholder {
  color: white;
}

#navCrop #navPage:-ms-input-placeholder {
  color: white;
}

#navCrop #navPage::-ms-input-placeholder {
  color: white;
}

#navCrop #navPage::placeholder {
  color: white;
}

#navCrop #navPage:hover {
  background-color: #c1945c;
}

#navCrop #navPageClose {
  position: fixed;
  z-index: 8;
  background-color: #76552d;
  -webkit-transition: background .4s, top .5s;
  transition: background .4s, top .5s;
  color: white;
  font-weight: 700;
  top: 9px;
  top: -30px;
  right: 40px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 0 4px 4px 0;
  line-height: 21px;
  cursor: pointer;
}

#navCrop #navPageClose:hover {
  background-color: #946b38;
}

#navCrop #navBody {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: navBody;
  width: 285px;
  height: calc(100% - 20px);
  margin-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}

#navCrop #navBody section {
  background-color: #cda77a;
  height: 1100px;
  display: block;
  width: 260px;
  margin-left: 10px;
  border-radius: 4px;
  background-position-x: right;
  margin-bottom: 10px;
}

#navCrop #navBody::-webkit-scrollbar {
  border-radius: 4px;
  width: 15px;
  overflow-x: visible;
}

#navCrop #navBody::-webkit-scrollbar-track {
  width: 10px;
}

#navCrop #navBody::-webkit-scrollbar-button {
  background-color: none;
}

#navCrop #navBody::-webkit-scrollbar-thumb {
  background-color: #946b38;
  border-radius: 4px;
  -webkit-transition: background .4s;
  transition: background .4s;
}

#navCrop #navBody::-webkit-scrollbar-thumb:hover {
  background-color: #c1945c;
}

#userDash {
  background: #7ca2a2;
  position: fixed;
  top: 48px;
  right: 0;
  width: calc(100vw - 320px);
  width: 100%;
  height: calc(100vh - 48px);
  margin: 0;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: width 1s, left 1s;
  transition: width 1s, left 1s;
  -webkit-box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.579);
          box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.579);
}

#userDash #userConsole {
  display: block;
  position: absolute;
  overflow: hidden;
  height: calc(100% - 60px);
  width: calc(100% - 20px);
  border-radius: 5px;
  -webkit-transition: bottom 2s;
  transition: bottom 2s;
  bottom: 50px;
  bottom: -100%;
  left: 10px;
  z-index: 4;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.726);
          box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.726);
  background-color: #76552d;
}

#userDash #userConsole #userConsoleDesk {
  display: block;
  height: 100%;
  margin: 0 0 0 300px;
  width: calc(100% - 295px);
  width: calc(100% - 10px);
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  background-color: #cda77a;
  border-radius: 4px;
  cursor: default;
}

#userDash #userConsole #userConsoleMeta {
  display: block;
  height: calc(100% - 10px);
  width: 280px;
  position: absolute;
  left: 10px;
  top: 5px;
  border-radius: 4px;
  background-color: #b18043;
  cursor: default;
}

#helpDesk {
  background-color: #594022;
  height: 40px;
  display: block;
  width: 100vw;
  z-index: 5;
  position: fixed;
  bottom: 0;
  bottom: -60px;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  -webkit-box-shadow: -2px 0 6px 2px rgba(0, 0, 0, 0.699);
          box-shadow: -2px 0 6px 2px rgba(0, 0, 0, 0.699);
}

#sidebar {
  position: absolute;
  display: block;
  width: 320px;
  height: calc(100vh - 48px);
  top: 48px;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

#sidebar #quickTools {
  display: -ms-grid;
  display: grid;
  position: absolute;
  background-color: #d8bb97;
  width: calc(100% - 10px);
  top: 5px;
  height: calc(100% - 50px);
  border-radius: 4px;
  overflow: hidden;
  left: 5px;
  -ms-grid-rows: 40px 30px auto;
      grid-template-rows: 40px 30px auto;
  -webkit-box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.582);
          box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.582);
      grid-template-areas: "QTtabs" "QTtitle" "QTpanel";
}

#sidebar #quickTools #quickToolsHead {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: QTtabs;
  background-color: #c1945c;
  overflow: hidden;
  padding: 5px 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sidebar #quickTools #quickToolsHead span {
  height: 35px;
  width: 30px;
  display: inline-block;
  background-color: #3b2b16;
  position: relative;
  bottom: -5px;
  margin-right: 4px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  -webkit-transition: background .4s;
  transition: background .4s;
  cursor: pointer;
}

#sidebar #quickTools #quickToolsHead span:hover {
  background-color: #76552d;
}

#sidebar #quickTools #quickToolsHead .openTab {
  background-color: #946b38;
  bottom: 0;
  width: 30px;
  -webkit-transition: background .4s;
  transition: background .4s;
}

#sidebar #quickTools #quickToolsHead .openTab:hover {
  background-color: #946b38;
}

#sidebar #quickTools #quickToolsTitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: QTtitle;
  background-color: #946b38;
  line-height: 30px;
  padding: 0 0 0 5px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

#sidebar #quickTools #quickToolsBody {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: QTpanel;
}
/*# sourceMappingURL=style.css.map */