/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//------------------------------------------------------------------------------------------------------


// Theme Colors
$t0: hsl(215, 10%, 8%);
$t1: hsl(215, 10%, 16%);
$t2: hsl(215, 10%, 24%);
$t3: hsl(215, 10%, 32%);
$t4: hsl(215, 10%, 40%);
$t5: hsl(215, 10%, 48%);
$t6: hsl(215, 10%, 56%);
$t7: hsl(215, 10%, 64%);
$t8: hsl(215, 10%, 72%);
$t9: hsl(215, 10%, 80%);

// Accent Colors

$a0: hsl(335, 45%, 8%);
$a1: hsl(335, 45%, 16%);
$a2: hsl(335, 45%, 24%);
$a3: hsl(335, 45%, 32%);
$a4: hsl(335, 45%, 40%);
$a5: hsl(335, 45%, 48%);
$a6: hsl(335, 45%, 56%);
$a7: hsl(335, 45%, 64%);
$a8: hsl(335, 45%, 72%);
$a9: hsl(335, 45%, 80%);

// Alert Colors
$at0: hsl(200, 75%, 8%);
$at1: hsl(200, 75%, 16%);
$at2: hsl(200, 75%, 24%);
$at3: hsl(200, 75%, 32%);
$at4: hsl(200, 75%, 40%);
$at5: hsl(200, 75%, 48%);
$at6: hsl(200, 75%, 56%);
$at7: hsl(200, 75%, 64%);
$at8: hsl(200, 75%, 72%);
$at9: hsl(200, 75%, 80%);


// Z-Index Guide 
// 13. Total Popup
// 12. Total Barrier:
// 11. Navigation:
// 10. Nav Anchor:
//  9. Header:
//  8. Screens:
//  7. Dash Popup:
//  6. Dash Barrier:
//  5. Help Desk: 
//  4. Consoles:
//  3. Dash Content:
//  2. Dashboard:
//  1. Toolkit:
//  0. Viewport:


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;    
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: $a3;
}

//---------------------------------------------------------------------------------------------------------------------

#userHeader {
    background: $t2;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 48px;
    z-index: 9;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.459);
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 20px 20px 8px;
    grid-template-areas:  "thumbnail userName" "thumbnail userID" "userProgress userProgress";

    img {
        height: 40px;
        width: 40px;
        grid-area: thumbnail;
        background-color: $a8;
        overflow: hidden;
    }
    #userName {
        grid-area: userName;
        font-size: 16px;
        line-height: 16px;
        margin: 4px 0 0 5px;
        font-weight: 600;
        color: $t9;
        width: max-content;
        cursor: pointer;
        letter-spacing: 1px;
        transition: color .4s;
    }
    #userName:hover {
        color: white;
    }
    #userID {
        grid-area: userID;
        font-size: 14px;
        width: max-content;
        font-weight: 600;
        margin: 3px 0 3px 10px;
        color: $t7;
        span {
            cursor: pointer;
            margin: 0 2px;
            transition: color .4s;
        }
        span:hover {
            color: $t9;
        }
    }
    #userProgress {
        grid-area: userProgress;
        background-color: $t0;
        width: 100%;

        .progressNow {box-shadow: inset 0 0 0 2px white;}

        td:nth-child(37) {background-color: $a8;}
        td:nth-child(38) {background-color: $a8;}
        td:nth-child(39) {background-color: $a8;}
        td:nth-child(40) {background-color: $a8;}
        td:nth-child(41) {background-color: $a8;}
        td:nth-child(42) {background-color: $t4;}
        td:nth-child(43) {background-color: $t4;}
        td:nth-child(44) {background-color: $t4;}
        td:nth-child(45) {background-color: $t4;}
        td:nth-child(46) {background-color: $t4;}
        td:nth-child(56) {background-color: $at6;}
        td:nth-child(57) {background-color: $at6;}
        td:nth-child(58) {background-color: $at6;}
        td:nth-child(59) {background-color: $at6;}
        td:nth-child(60) {background-color: $at6;}
        td:nth-child(61) {background-color: $at4;}
        td:nth-child(62) {background-color: $at4;}
        td:nth-child(63) {background-color: $at4;}
        td:nth-child(64) {background-color: $at4;}
        td:nth-child(65) {background-color: $at8;}
        td:nth-child(66) {background-color: $at4;}
        td:nth-child(67) {background-color: $at6;}
        td:nth-child(68) {background-color: $at6;}
        td:nth-child(69) {background-color: $at6;}
        td:nth-child(70) {background-color: $at4;}
        td:nth-child(71) {background-color: $at4;}
        td:nth-child(72) {background-color: $at4;}
        td:nth-child(73) {background-color: $at8;}
        td:nth-child(74) {background-color: $at8;}
        td:nth-child(75) {background-color: $at8;}
        td:nth-child(76) {background-color: $a4;}
        td:nth-child(77) {background-color: $a6;}
        td:nth-child(78) {background-color: $a6;}
        td:nth-child(79) {background-color: $a8;}
        td:nth-child(80) {background-color: $a8;}
        td:nth-child(81) {background-color: $a6;}
        td:nth-child(82) {background-color: $a8;}
        td:nth-child(83) {background-color: $a6;}
        td:nth-child(88) {background-color: $a6;}
        td:nth-child(89) {background-color: $a8;}
        td:nth-child(90) {background-color: $at6;}
        td:nth-child(91) {background-color: $at6;}
        td:nth-child(92) {background-color: $at6;}
        td:nth-child(93) {background-color: $at8;}
        td:nth-child(94) {background-color: $at8;}
        td:nth-child(95) {background-color: $at8;}
        td:nth-child(96) {background-color: $a4;}
        td:nth-child(97) {background-color: $a6;}
        td:nth-child(98) {background-color: $a6;}
        td:nth-child(99) {background-color: $a8;}
        td:nth-child(115) {background-color: $t8;}
        td:nth-child(116) {background-color: $t8;}
        td:nth-child(117) {background-color: $t8;}
        td:nth-child(118) {background-color: $t8;}
        td:nth-child(119) {background-color: $t8;}
        td:nth-child(120) {background-color: $t8;}
        td:nth-child(121) {background-color: $t8;}
        td:nth-child(122) {background-color: $t8;}
        td:nth-child(123) {background-color: $t8;}
        td:nth-child(124) {background-color: $t8;}
        td:nth-child(125) {background-color: $t8;}
        td:nth-child(126) {background-color: $t8;}
        td:nth-child(127) {background-color: $t8;}
        td:nth-child(128) {background-color: $t8;}
        td:nth-child(129) {background-color: $t8;}
    }
}


#navCrop {
    overflow: clip;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10;
    transition: height 1s, width 1.5s;

    // Closed
    width: 30px;
    height: 30px;

    // Navigation Panel
    // width: 300px;
    // height: calc(100% - 10px);


    #navPanel {
        background: $a9;
        width: 300px;
        height: calc(100vh - 10px);
        display: grid;
        grid-template-columns: 270px 30px;
        grid-template-rows: 30px auto;
        grid-template-areas: "navPage navButton" "navBody navBody";
        z-index: 7;
    }
    #navButton {
        position: fixed;
        background-color: $a2;
        right: 9px;
        top: 9px;
        width: 22px;
        height: 22px;
        grid-area: navButton;
        z-index: 9;
        display: block;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        transition: background .4s, box-shadow .4s;
    }
    #navButton:hover {
        background-color: $a4;
        box-shadow: 0 0 8px $a9;
    }
    #navPage {
        grid-area: navPage;
        height: 22px;
        line-height: 22px;
        padding: 0 0 0 5px;
        background-color: $a5;
        border-radius: 4px;
        border: none;
        position: fixed;
        right: 35px;
        top: 9px;
        top: -30px;
        width: 261px;
        z-index: 7;
        color: $a1;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 600;
        transition: background .4s, top .5s;
    }
    #navPage::placeholder {
        color: white;
    }
    #navPage:hover {
        background-color: $a6;
    }
    #navPageClose {
        position: fixed;
        z-index: 8;
        background-color: $a3;
        transition: background .4s, top .5s;
        color: white;
        font-weight: 700;
        top: 9px;
        top: -30px;
        right: 40px;
        height: 22px;
        width: 22px;
        border: none;
        border-radius: 0 4px 4px 0;
        line-height: 21px;
        cursor: pointer;
    }
    #navPageClose:hover {
        background-color: $a4;
    }

    #navBody {
        grid-area: navBody;
        width: 285px;
        height: calc(100% - 20px);
        margin-top: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 5px;

        section {
            background-color: $a7;
            height: 1100px;
            display: block;
            width: 260px;
            margin-left: 10px;
            border-radius: 4px;
            background-position-x: right;
            margin-bottom: 10px;
        }
    }
    #navBody::-webkit-scrollbar {
        border-radius: 4px;
        width: 15px;
        overflow-x: visible;
    }
    #navBody::-webkit-scrollbar-track {
        // background-color: blue;
        width: 10px;
    }
    #navBody::-webkit-scrollbar-button {
        background-color: none;
    }
    

    #navBody::-webkit-scrollbar-thumb {
        background-color: $a4;
        border-radius: 4px;
        transition: background .4s;
    }
    #navBody::-webkit-scrollbar-thumb:hover {
        background-color: $a6;
    }
}


#userDash {
    background: $t6;
    position: fixed;
    top: 48px;
    right: 0;
    width: calc(100vw - 320px);
    width: 100%;
    height: calc(100vh - 48px);
    margin: 0;
    z-index: 2;
    overflow: hidden;
    transition: width 1s, left 1s;
    box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.579);

    #userConsole {
        display: block;
        // display: none;
        position: absolute;
        overflow: hidden;
        height: calc(100% - 60px); 
        width: calc(100% - 20px);
        border-radius: 5px;
        transition: bottom 2s, background 1s;
        bottom: 50px;
        bottom: -100%;
        left: 10px;
        z-index: 4;
        cursor: pointer;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.726);
        background-color: $a2;

        #userConsoleDesk {
            display: block;
            height: 100%;
            width: calc(100% - 295px);
            width: calc(100% - 15px);
            position: absolute;
            right: 0;
            top: 0;
            transition: width 1s;
            background-color: $a7;
            border-radius: 4px;
            cursor: default;

        }
        #userConsoleMeta {
            display: block;
            height: calc(100% - 10px);
            width: 275px;
            position: absolute;
            left: 15px;
            top: 5px;
            border-radius: 4px;
            background-color: $a3;
            cursor: default;
        }
    }
    #userConsole:hover {
        background-color: $a4;
    }
}

#helpDesk {
    z-index: 5;
    .helpChatWindow {
        background-color: $a4;
        display: grid;
        width: 200px;
        height: calc(100vh - 108px);
        right: 15px;
        bottom: 40px;
        // bottom: calc(-100vh + 228px);
        bottom: -100vh;
        transition: bottom 1s,background 1s;
        position: absolute;
        border-radius: 4px;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.579);
        z-index: 5;
        overflow: hidden;
        grid-template-rows: 80px 3fr 4fr;
        grid-template-columns: 200px;
        grid-template-areas: "head" "chat" "tool";
        section:nth-child(1) {
            display: block;
            background-color: $a2;
            grid-area: head;
            transition: background 1s;
            cursor: pointer;
        }
        section:nth-child(1):hover {
            background-color: $a4;
        }
        section:nth-child(2) {
            display: block;
            grid-area: chat;
        }
        section:nth-child(3) {
            display: block;
            grid-area: tool;
        }

        
    }
    .helpChatWindow:hover {
        background-color: $a6;
    }
    #helpDeskFooter {
        background-color: $a2;
        height: 40px;
        display: block;
        width: 100%;
        z-index: 5;
        position: fixed;
        bottom: 0;
        bottom: -60px;
        transition: bottom 1s;
        box-shadow: -2px 0 6px 2px rgba(0, 0, 0, 0.699);
    }
}

#sidebar {
    position: absolute;
    display: block;
    height: calc(100vh - 48px);
    width: 100%;
    top: 48px;
    left: 0;
    z-index: 1;
    overflow: hidden;

    #quickTools {
        display: grid;
        // display: none;
        position: absolute;
        background-color: $a8;
        width: 310px;
        top: 5px;
        height: calc(100% - 50px);
        border-radius: 4px;
        overflow: hidden;
        left: 5px;
        grid-template-rows: 40px 30px auto;
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.582);
        grid-template-areas: "QTtabs" "QTtitle" "QTpanel";

        #quickToolsHead {
            grid-area: QTtabs;
            background-color: $a6;
            overflow: hidden;
            padding: 5px 0 0 5px;
            display: flex;
            span {
                height: 35px;
                width: 30px;
                display: inline-block;
                background-color: $a1;
                position: relative;
                bottom: -5px;
                margin-right: 4px;
                border-radius: 4px 4px 0 0;
                overflow: hidden;
                transition: background .4s;
                cursor: pointer;
            }
            span:hover {
                background-color: $a3;
            }
            .openTab {
                background-color: $a4;
                bottom: 0;
                width: 30px;
                transition: background .4s;
            }
            .openTab:hover {
                background-color: $a4;
            }
        }
        #quickToolsTitle {
            grid-area: QTtitle;
            background-color: $a4;
            line-height: 30px;
            padding: 0 0 0 5px;
            font-size: 16px;
            color: white;
            font-weight: 600;
            letter-spacing: 1px;
        }
        #quickToolsBody {
            grid-area: QTpanel;

        }
    }
}

// KEYFRAMES---------------------------------------------------------------------------------------------------------------------------

// @media only screen and (max-width: 640px) {
//     #userDash {
//         width: 320px;
//         left: 320px;
//     }
// }

