/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//------------------------------------------------------------------------------------------------------

// Color Harmonies

// Split Complimentary: 
// 2 analogous hues, 1 compliment to midpoint
// Analogous: 
// 3 hues existing within 180 degrees
// Triadic:
// 3 hues roughly separated by ~120 degrees

// Theme Colors
$t0: hsl(200, 20%,  4%);
$t1: hsl(200, 20%, 12%);
$t2: hsl(200, 20%, 20%);
$t3: hsl(200, 20%, 28%);
$t4: hsl(200, 20%, 36%);
$t5: hsl(200, 20%, 44%);
$t6: hsl(200, 20%, 52%);
$t7: hsl(200, 20%, 60%);
$t8: hsl(200, 20%, 68%);
$t9: hsl(200, 20%, 76%);

// Accent Colors

$a0: hsl(45, 40%,  4%);
$a1: hsl(45, 40%, 12%);
$a2: hsl(45, 40%, 20%);
$a3: hsl(45, 40%, 28%);
$a4: hsl(45, 40%, 36%);
$a5: hsl(45, 40%, 44%);
$a6: hsl(45, 40%, 52%);
$a7: hsl(45, 40%, 60%);
$a8: hsl(45, 40%, 68%);
$a9: hsl(45, 40%, 76%);

// Alert Colors
$at0: hsl(310, 65%,  4%);
$at1: hsl(310, 65%, 12%);
$at2: hsl(310, 65%, 20%);
$at3: hsl(310, 65%, 28%);
$at4: hsl(310, 65%, 36%);
$at5: hsl(310, 65%, 44%);
$at6: hsl(310, 65%, 52%);
$at7: hsl(310, 65%, 60%);
$at8: hsl(310, 65%, 68%);
$at9: hsl(310, 65%, 76%);


// Z-Index Guide 
// 13. Total Popup
// 12. Total Barrier:
// 11. Navigation:
// 10. Nav Anchor:
//  9. Header:
//  8. Screens: help screen
//  7. Dash Popup:
//  6. Dash Barrier:
//  5. Help Desk: 
//  4. Consoles:
//  3. Dash Content:
//  2. Dashboard:
//  1. Toolkit:
//  0. Viewport:


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;    
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: $a2;
}

// MEMBER -------------------------------------------------------------------------------------------------------------------------------
#userHeader {
    background: $t2;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 48px;
    z-index: 9;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 20px 20px 8px;
    grid-template-areas:  "thumbnail userName" "thumbnail userID" "userProgress userProgress";

    img {
        height: 40px;
        width: 40px;
        grid-area: thumbnail;
        background-color: $a8;
        overflow: hidden;
    }
    #userName {
        grid-area: userName;
        font-size: 16px;
        line-height: 16px;
        margin: 4px 0 0 5px;
        font-weight: 600;
        color: $t9;
        width: max-content;
        cursor: pointer;
        letter-spacing: 1px;
        text-shadow: none;
        transition: color .4s, text-shadow 1s;
        &:hover {
            color: white;
            text-shadow: 0 0 4px 2px $a9;
        }
    }
    #userID {
        grid-area: userID;
        font-size: 14px;
        width: max-content;
        font-weight: 600;
        margin: 3px 0 3px 10px;
        color: $t6;
        span {
            cursor: pointer;
            margin: 0 2px;
            transition: color .4s;
            &:hover {
                color: $t8;
            }
        }
    }
    #userProgress {
        grid-area: userProgress;
        background-color: $t0;
        width: 100%;

        .progressNow {box-shadow: inset 0 0 0 2px white;}

        td:nth-child(37) {background-color: $a4;}
        td:nth-child(38) {background-color: $a2;}
        td:nth-child(39) {background-color: $a4;}
        td:nth-child(40) {background-color: $a4;}
        td:nth-child(41) {background-color: $a6;}
        td:nth-child(42) {background-color: $at4;}
        td:nth-child(43) {background-color: $at4;}
        td:nth-child(44) {background-color: $at4;}
        td:nth-child(45) {background-color: $at4;}
        // td:nth-child(X) {background-color: $X;}
        // td:nth-child(X) {background-color: $X;}

        td:nth-child(49) {background-color: $a4;}
        td:nth-child(50) {background-color: $a4;}
        td:nth-child(51) {background-color: $a6;}
        td:nth-child(52) {background-color: $a6;}
        td:nth-child(53) {background-color: $a6;}
        td:nth-child(54) {background-color: $a6;}
        td:nth-child(55) {background-color: $a2;}
        td:nth-child(56) {background-color: $a2;}
        td:nth-child(57) {background-color: $a2;}
        td:nth-child(58) {background-color: $a2;}
        td:nth-child(59) {background-color: $a4;}
        td:nth-child(60) {background-color: $a4;}
        td:nth-child(61) {background-color: $a4;}
        td:nth-child(62) {background-color: $a2;}
        td:nth-child(63) {background-color: $a4;}
        td:nth-child(64) {background-color: $a6;}
        td:nth-child(65) {background-color: $a6;}
        td:nth-child(66) {background-color: $a4;}
        td:nth-child(67) {background-color: $a2;}

        td:nth-child(70) {background-color: $at8;}
        td:nth-child(71) {background-color: $at8;}
        td:nth-child(72) {background-color: $at8;}
        td:nth-child(73) {background-color: $at8;}

        td:nth-child(79) {background-color: $at2;}
        td:nth-child(80) {background-color: $at2;}
        td:nth-child(81) {background-color: $at2;}
        td:nth-child(82) {background-color: $a4;}
        td:nth-child(83) {background-color: $a4;}
        td:nth-child(84) {background-color: $a6;}
        td:nth-child(85) {background-color: $a6;}
        td:nth-child(86) {background-color: $a4;}
        td:nth-child(87) {background-color: $a4;}
        td:nth-child(88) {background-color: $a6;}
        td:nth-child(89) {background-color: $a2;}
        td:nth-child(90) {background-color: $a2;}
        td:nth-child(91) {background-color: $a2;}
        td:nth-child(92) {background-color: $t6;}
        td:nth-child(93) {background-color: $t6;}
        td:nth-child(94) {background-color: $t6;}
        td:nth-child(95) {background-color: $t6;}
        td:nth-child(96) {background-color: $t6;}
        td:nth-child(97) {background-color: $t6;}
        td:nth-child(98) {background-color: $t6;}
        td:nth-child(99) {background-color: $t6;}
        td:nth-child(100) {background-color: $t6;}
        // td:nth-child(X) {background-color: $X;}
        // td:nth-child(X) {background-color: $X;}
        // td:nth-child(X) {background-color: $X;}
        // td:nth-child(X) {background-color: $X;}
        // td:nth-child(X) {background-color: $X;}
        // td:nth-child(X) {background-color: $X;}

        td:nth-child(133) {background-color: $at8;}
        td:nth-child(134) {background-color: $at8;}
        td:nth-child(135) {background-color: $at8;}
        td:nth-child(136) {background-color: $at8;}
        td:nth-child(137) {background-color: $at8;}
        td:nth-child(138) {background-color: $at8;}
        td:nth-child(139) {background-color: $at8;}
        td:nth-child(140) {background-color: $at8;}
        td:nth-child(141) {background-color: $at8;}
        td:nth-child(142) {background-color: $at8;}
        td:nth-child(143) {background-color: $at8;}
        td:nth-child(144) {background-color: $at8;}
        
        // 10 hour shift: 6h40m work (64), 3h20m break (32)
    }
}
#navCrop {
    // Closed
    width: 30px;
    height: 30px;

    // Nav Tool
    // width: 300px;
    // height: 30px;

    // Navigation Panel
    // width: 300px;
    // height: calc(100% - 10px);


    overflow: clip;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10;
    transition: height 1s, width 1.5s;

    #navPanel {
        background: $a7;
        width: 300px;
        height: calc(100vh - 10px);
        display: grid;
        grid-template-columns: 270px 30px;
        grid-template-rows: 30px auto;
        grid-template-areas: "navPage navButton" "navBody navBody";
        z-index: 7;
        transition: background 1s;
        &:hover {background-color: $a8;}
    }
    #navButton {
        position: fixed;
        background-color: $a2;
        right: 9px;
        top: 9px;
        width: 22px;
        height: 22px;
        grid-area: navButton;
        z-index: 9;
        display: block;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        transition: background .4s, box-shadow .4s;
        &:hover {
            background-color: $a4;
            box-shadow: 0 0 8px 2px $a9;
        }
    }
    #navPage {
        
        // Open
        top: 4px;

        // Closed
        // top: -30px;
        
        grid-area: navPage;
        height: 22px;
        line-height: 22px;
        padding: 0 0 0 5px;
        background-color: $a3;
        border-radius: 4px;
        border: none;
        position: absolute;
        right: 30px;
        width: 261px;
        z-index: 7;
        color: $a9;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 600;
        transition: background .4s, top .5s;
        &:hover {background-color: $a4;}
        &::placeholder {
            color: $a9;
        }

    }
    #navBody {
        grid-area: navBody;
        width: 295px;
        height: calc(100% - 5px);
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
        right: 0;

        ul {
            // height: 30px;

            appearance: none;
            background-color: $a4;
            display: block;
            width: 260px;
            margin-left: 5px;
            border-radius: 4px;
            background-position-x: right;
            margin-bottom: 5px;
            padding: 5px;
            overflow: clip;
            transition: background 1s, height 1s;
            &:hover {background-color: $a5;}
            li {
                width: 240px;
                margin: 5px 5px 5px 10px;
                padding: 5px;
                border-radius: 4px;
                font-size: 14px;
                line-height: 20px;
                background-color: $a3;
                font-weight: 700;
                color: $a8;
                vertical-align: middle;
                cursor: pointer;
                letter-spacing: 1px;
                transition: background 1s, color 1s;
                &:hover {background-color: $a2; color: $a9;}
                &:first-child {
                    width: 250px;
                    background-color: $a2;
                    color: $a8;
                    margin: 0;
                    font-weight: 8px;
                    letter-spacing: 2px;
                    transition: background 1s, color 1s;
                    &:hover {background-color: $a1; color: $a9;}
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ul:last-child {
            margin-bottom: 0;
        }

        &::-webkit-scrollbar {
            border-radius: 4px;
            width: 15px;
            overflow-x: visible;
            cursor: pointer;
        }
        &::-webkit-scrollbar-track {
            background-color: $a5;
            width: 10px;
        }
        &::-webkit-scrollbar-button {
            background-color: $a4;
            border-radius: 4px 4px 0 0 ;
        }
        &::-webkit-scrollbar-button:vertical:decrement {
            border-radius: 4px 4px 0 0;
        }
        &::-webkit-scrollbar-button:vertical:increment {
            border-radius: 0 0 4px 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $a3;
            border-radius: 4px;
            transition: background 1s;
        }

    }

}
#userDash {
    width: calc(100vw - 320px);
    width: 100%;

    background: $t6;
    position: fixed;
    top: 48px;
    right: 0;
    height: calc(100vh - 38px);
    margin: 0;
    z-index: 2;
    overflow: hidden;
    transition: width 1s, left 1s;
    box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.4);

}
#userConsole {

    // display: none;
    display: grid;
    
    // Open
    top: 0;

    // Closed
    top: -100vh;

    width: calc(100vw - 10px);
    position: absolute;
    z-index: 4;
    height: calc(100vh - 63px);
    margin: 10px 5px 5px 5px;
    border-radius: 4px;
    overflow: clip;
    background-color: $t1;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.4);
    transition: top 1s, background 1s;
    cursor: pointer;
    grid-template-columns: 40px calc(100% - 40px);
    grid-template-rows: 40px calc(100% - 40px);
    grid-template-areas: "consoleHead consoleHead" "consoleTabs consoleInfo";

    &:hover {background-color: $t2;}
    
    #userConsoleHead {
        grid-area: consoleHead;
        display: grid;
        grid-template-rows: 8px 32px;
        grid-template-columns: calc(100% - 96px) 32px 32px 32px;
        grid-template-areas: "progress progress progress progress" "title pause help close";

        #userConsoleProgress {
            grid-area: progress;
            background-color: $at6;
            width: 69%;
            transition: width 1s;

        }
        #userConsoleTitle {
            grid-area: title;
            line-height: 40px;
            font-size: 20px;
            vertical-align: middle;
            color: $t9;
            font-weight: 700;
            margin-left: 5px;
            letter-spacing: 2px;
        }
        #userConsolePause {
            grid-area: pause;
            height: 27px;
            width: 27px;
            margin: 5px 5px 0 0;
            background-color: $a5;
            border-radius: 4px;
            transition: background 1s;
            &:hover {background-color: $a7;}
        }
        #userConsoleHelp {
            grid-area: help;
            height: 27px;
            width: 27px;
            margin: 5px 5px 0 0;
            background-color: $a5;
            border-radius: 4px;
            line-height: 27px;
            font-size: 20px;
            color: $a0;
            font-weight: 700;
            text-align: center;
            transition: background 1s;
            &:hover {background-color: $a7;}
        }
        #userConsoleClose {
            grid-area: close;
            height: 27px;
            width: 27px;
            margin: 5px 5px 0 0;
            background-color: $a3;
            border-radius: 4px;
            transition: background 1s;
            &:hover {background-color: $a5;}
        }

    }
    #userConsoleTabs {
        grid-area: consoleTabs;
        width: 30px;
        height: calc(100% - 65px);
        margin: 25px 5px 5px 5px;
        background-color: $a5;
        border-radius: 4px;
        cursor: default;
    }
    #userConsoleInfo {
        grid-area: consoleInfo;
        width: calc(100% - 5px);
        height: calc(100% - 50px);
        margin: 10px 5px 5px 0;
        background-color: $t3;
        border-radius: 4px;
        cursor: default;
    }


    #userConsoleDesk {
        width: calc(100% - 20px);
        bottom: 5px;

        // Minimized
        // bottom: calc(-100% + 85px);

        // Tabs
        width: calc(100% - 55px);
        
        height: calc(100% - 60px);
        border-radius: 4px;
        display: block;
        position: absolute;
        right: 5px;
        background-color: $t5;
        padding: 5px;
        z-index: 4;
        transition: background 1s, height 1s, bottom 1s, width 1s;
        cursor: default;
        &:hover {background-color: $t6;}
    }
}



// ADMIN --------------------------------------------------------------------------------------------------------------------------------
#adminConsole {
    display: block;
    // display: none;

    bottom: 50px;
    // bottom: -100%;

    position: absolute;
    overflow: hidden;
    height: calc(100% - 60px); 
    width: calc(100% - 20px);
    border-radius: 5px;
    transition: bottom 2s, background 1s, box-shadow 1s;
    left: 10px;
    font-size: 14px;
    z-index: 4;
    cursor: pointer;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 5px $a1;
    background-color: $a1;

    &:hover {background-color: $a2; box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 5px $a2;}

    #adminConsoleDesk {
        width: calc(100% - 290px);
        width: calc(100% - 30px);

        display: block;
        height: calc(100% - 20px);
        position: absolute;
        right: 5px;
        padding: 5px;
        box-shadow: inset 0 0 0 5px $a6;
        overflow: hidden;
        top: 5px;
        transition: width 1s, background 1s, box-shadow 1s;
        background-color: $a6;
        border-radius: 4px;
        cursor: default;
        &:hover {
            background-color: $a7;
            box-shadow: inset 0 0 0 5px $a7;
        }
    }
    #adminConsoleMeta {
        display: block;
        height: calc(100% - 20px);
        width: calc(100% - 30px);
        padding: 5px;
        overflow: hidden;
        position: absolute;
        left: 15px;
        top: 5px;
        border-radius: 4px;
        background-color: $a3;
        cursor: default;
    }
}
#helperDesk {
    display: none;


    z-index: 5;
    overflow: hidden;
    .helperChatWindow {
        bottom: 30px;
        bottom: calc(-100vh + 208px);
        bottom: -100vh;

        background-color: $a4;
        display: grid;
        width: 200px;
        height: calc(100vh - 98px);
        right: 5px;
        transition: bottom 1s,background 1s;
        position: absolute;
        border-radius: 4px 4px 0 0 ;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
        z-index: 5;
        overflow: hidden;
        grid-template-rows: 80px 4fr 5fr;
        grid-template-columns: 200px;
        grid-template-areas: "head" "chat" "tool";
        section:nth-child(1) {
            display: block;
            background-color: $a2;
            grid-area: head;
            transition: background 1s;
            cursor: pointer;
            &:nth-child(1):hover {
                background-color: $a3;
            }
        }
        section:nth-child(2) {
            display: block;
            grid-area: chat;
        }
        section:nth-child(3) {
            display: block;
            grid-area: tool;
        }
        &:hover {
            background-color: $a5;
        }

        
    }
    #helperDeskFooter {
        bottom: 0;
        bottom: -60px;

    
        background-color: $a1;
        height: 30px;
        display: block;
        width: 100%;
        z-index: 5;
        position: absolute;
        transition: bottom 1s;
        box-shadow: 0px -2px 6px 2px rgba(0, 0, 0, 0.4);
    }
    #helperDeskMenu {
        bottom: -60px;
        // bottom: 5px;

        // Closed
        width: 20px;
        height: 20px;
        box-shadow: none;

        // Open
        // width: calc(100vw - 15px);
        // height: calc(100vh - 63px);
        // box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.4);

        transition: width 1s, height 1s, background 1s, bottom 1s, box-shadow 1s;
        position: absolute;
        left: 5px;
        background-color: $at4;
        z-index: 6;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
            background-color: $at6;
        }
    }
}
#sidebar {
    position: absolute;
    display: block;
    height: calc(100vh - 48px);
    width: 100%;
    top: 48px;
    left: 0;
    z-index: 1;
    overflow: hidden;

    #quickTools {
        display: grid;
        // display: none;
        position: absolute;
        background-color: $a8;
        width: 310px;
        top: 5px;
        height: calc(100% - 40px);
        border-radius: 4px;
        overflow: hidden;
        left: 5px;
        grid-template-rows: 40px 30px auto;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
        grid-template-areas: "QTtabs" "QTtitle" "QTpanel";

        #quickToolsHead {
            grid-area: QTtabs;
            background-color: $a5;
            overflow: hidden;
            padding: 5px 0 0 5px;
            display: flex;
            span {
                height: 35px;
                width: 30px;
                display: inline-block;
                background-color: $a1;
                position: relative;
                bottom: -5px;
                margin-right: 4px;
                border-radius: 4px 4px 0 0;
                overflow: hidden;
                transition: background .4s;
                cursor: pointer;
            }
            span:hover {
                background-color: $a2;
            }
            .openTab {
                background-color: $a3;
                bottom: 0;
                width: 30px;
                transition: background .4s;
            }
            .openTab:hover {
                background-color: $a3;
            }
        }
        #quickToolsTitle {
            grid-area: QTtitle;
            background-color: $a3;
            line-height: 30px;
            padding: 0 0 0 5px;
            font-size: 16px;
            color: white;
            font-weight: 600;
            letter-spacing: 1px;
        }
        #quickToolsBody {
            grid-area: QTpanel;

        }
    }
}



// KEYFRAMES ----------------------------------------------------------------------------------------------------------------------------

@media only screen and (max-width: 320px) {

}

@media only screen and (max-width: 640px) {
    // #userDash {
    //     width: 320px;
    //     left: 320px;
    // }
}

@media only screen and (max-width: 960px) {
    
}

@media only screen and (max-width: 1280px) {
    
}

@media only screen and (max-width: 1600px) {
    
}

@media only screen and (max-width: 1920px) {
    
}