body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  margin: none;
  padding: none;
}

#userHeader {
  background: #664d3d;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 48px;
  z-index: 5;
  -webkit-box-shadow: -1px 4px 4px #664d3d;
          box-shadow: -1px 4px 4px #664d3d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  -ms-grid-rows: 20px 20px 8px;
      grid-template-rows: 20px 20px 8px;
      grid-template-areas: "thumbnail userName" "thumbnail userID" "userProgress userProgress";
}

#userHeader img {
  height: 40px;
  width: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: thumbnail;
  background-color: #c9b3a6;
  overflow: hidden;
}

#userHeader #userName {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: userName;
  font-size: 16px;
  line-height: 16px;
  margin: 4px 0 0 5px;
  font-weight: 600;
  color: #d9c9bf;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#userHeader #userName:hover {
  color: white;
}

#userHeader #userID {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: userID;
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  margin: 3px 0 3px 10px;
  color: #ba9e8c;
}

#userHeader #userID span {
  cursor: pointer;
  margin: 0 2px;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#userHeader #userID span:hover {
  color: #d9c9bf;
}

#userHeader #userProgress {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: userProgress;
  background-color: #33261f;
  width: 100vw;
}

#userHeader #userProgress td:nth-child(70) {
  background-color: #0e83be;
}

#userHeader #userProgress td:nth-child(71) {
  background-color: #0e83be;
}

#userHeader #userProgress td:nth-child(72) {
  background-color: #0e83be;
}

#userHeader #userProgress td:nth-child(73) {
  background-color: #7accf5;
}

#userHeader #userProgress td:nth-child(74) {
  background-color: #7accf5;
}

#userHeader #userProgress td:nth-child(76) {
  background-color: #23a993;
}

#userHeader #userProgress td:nth-child(77) {
  background-color: #45d9c0;
}

#userHeader #userProgress td:nth-child(89) {
  background-color: #45d9c0;
}

#userHeader #userProgress td:nth-child(90) {
  background-color: #45d9c0;
}

#userHeader #userProgress td:nth-child(91) {
  background-color: #2eafef;
}

#userHeader #userProgress td:nth-child(92) {
  background-color: #2eafef;
}

#navCrop {
  overflow: clip;
  border-radius: 5px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 5;
  width: 30px;
  height: 30px;
}

#navCrop #navPanel {
  background: #aaeee2;
  width: 300px;
  height: calc(100vh - 10px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 30px;
      grid-template-columns: 270px 30px;
  -ms-grid-rows: 30px auto;
      grid-template-rows: 30px auto;
      grid-template-areas: "navPage navButton" "navBody navBody";
  z-index: 7;
}

#navCrop #navButton {
  position: fixed;
  background-color: #156658;
  right: 9px;
  top: 9px;
  width: 22px;
  height: 22px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navButton;
  z-index: 9;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-transition: background .4s, -webkit-box-shadow .4s;
  transition: background .4s, -webkit-box-shadow .4s;
  transition: background .4s, box-shadow .4s;
  transition: background .4s, box-shadow .4s, -webkit-box-shadow .4s;
}

#navCrop #navButton:hover {
  background-color: #23a993;
  -webkit-box-shadow: 0 0 8px #aaeee2;
          box-shadow: 0 0 8px #aaeee2;
}

#navCrop #navPage {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navPage;
  height: 22px;
  line-height: 22px;
  padding: 0 0 0 5px;
  background-color: #2acbb0;
  border-radius: 4px;
  border: none;
  position: fixed;
  right: 40px;
  top: 9px;
  width: 280px;
  z-index: 7;
  color: #0e443b;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: background .4s;
  transition: background .4s;
}

#navCrop #navPage::-webkit-input-placeholder {
  color: white;
}

#navCrop #navPage:-ms-input-placeholder {
  color: white;
}

#navCrop #navPage::-ms-input-placeholder {
  color: white;
}

#navCrop #navPage::placeholder {
  color: white;
}

#navCrop #navPage:hover {
  background-color: #45d9c0;
}

#navCrop #navPageClose {
  position: fixed;
  z-index: 8;
  background-color: #1c8776;
  -webkit-transition: background .4s;
  transition: background .4s;
  color: white;
  font-weight: 700;
  top: 9px;
  right: 40px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 0 4px 4px 0;
  line-height: 21px;
  cursor: pointer;
}

#navCrop #navPageClose:hover {
  background-color: #23a993;
}

#navCrop #navBody {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: navBody;
  width: 285px;
  height: calc(100% - 20px);
  margin-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}

#navCrop #navBody section {
  background-color: #67e0cc;
  height: 1200px;
  display: block;
  width: 265px;
  border-radius: 4px;
  background-position-x: right;
}

#navCrop #navBody::-webkit-scrollbar {
  border-radius: 6px;
  width: 20px;
  overflow-x: visible;
}

#navCrop #navBody::-webkit-scrollbar-track {
  width: 10px;
}

#navCrop #navBody::-webkit-scrollbar-button {
  background-color: none;
}

#navCrop #navBody::-webkit-scrollbar-corner {
  background-color: yellow;
}

#navCrop #navBody::-webkit-scrollbar-thumb {
  background-color: #23a993;
  border-radius: 6px;
  -webkit-transition: background .4s;
  transition: background .4s;
}

#navCrop #navBody::-webkit-scrollbar-thumb:hover {
  background-color: #45d9c0;
}

#userDash {
  background: #ba9e8c;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 48px);
  margin: 0;
  z-index: 1;
}

#sidebar {
  background: #07221d;
  position: absolute;
  display: block;
  width: 320px;
  height: calc(100vh - 48px);
  top: 48px;
  right: 0;
  z-index: 0;
}
/*# sourceMappingURL=style.css.map */