@use "sass:math";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//------------------------------------------------------------------------------------------------------

// Color Harmonies

// Split Complimentary: 
// 2 analogous hues, 1 compliment to midpoint
// Analogous: 
// 3 hues existing within 180 degrees
// Triadic:
// 3 hues roughly separated by ~120 degrees



$themehue:   340;
$accenthue:  320;
$alerthue:   40;


$themesat:  10%; // 0-65%
$accentsat: 30%; // must be 15% more than theme
$alertsat:  50%; // must be 20% more than accent 


// Lightness Calculations - must be between 0-30
$LV0: calc(14% +  0%);
$LV1: calc(14% +  7%);
$LV2: calc(14% + 14%);
$LV3: calc(14% + 21%);
$LV4: calc(14% + 28%);
$LV5: calc(14% + 35%);
$LV6: calc(14% + 42%);
$LV7: calc(14% + 49%);
$LV8: calc(14% + 56%);
$LV9: calc(14% + 63%);
$LVX: calc(14% + 70%);


// Theme Shades

$t0: hsl($themehue, $themesat, $LV0);
$t1: hsl($themehue, $themesat, $LV1);
$t2: hsl($themehue, $themesat, $LV2);
$t3: hsl($themehue, $themesat, $LV3);
$t4: hsl($themehue, $themesat, $LV4);
$t5: hsl($themehue, $themesat, $LV5);
$t6: hsl($themehue, $themesat, $LV6);
$t7: hsl($themehue, $themesat, $LV7);
$t8: hsl($themehue, $themesat, $LV8);
$t9: hsl($themehue, $themesat, $LV9);
$tX: hsl($themehue, $themesat, $LVX);



// Accent Shades
$a0: hsl($accenthue, $accentsat, $LV0);
$a1: hsl($accenthue, $accentsat, $LV1);
$a2: hsl($accenthue, $accentsat, $LV2);
$a3: hsl($accenthue, $accentsat, $LV3);
$a4: hsl($accenthue, $accentsat, $LV4);
$a5: hsl($accenthue, $accentsat, $LV5);
$a6: hsl($accenthue, $accentsat, $LV6);
$a7: hsl($accenthue, $accentsat, $LV7);
$a8: hsl($accenthue, $accentsat, $LV8);
$a9: hsl($accenthue, $accentsat, $LV9);
$aX: hsl($accenthue, $accentsat, $LVX);

// Alert Shades
$at0: hsl($alerthue, $alertsat, $LV0);
$at1: hsl($alerthue, $alertsat, $LV1);
$at2: hsl($alerthue, $alertsat, $LV2);
$at3: hsl($alerthue, $alertsat, $LV3);
$at4: hsl($alerthue, $alertsat, $LV4);
$at5: hsl($alerthue, $alertsat, $LV5);
$at6: hsl($alerthue, $alertsat, $LV6);
$at7: hsl($alerthue, $alertsat, $LV7);
$at8: hsl($alerthue, $alertsat, $LV8);
$at9: hsl($alerthue, $alertsat, $LV9);
$atX: hsl($alerthue, $alertsat, $LVX);


// Favorites: (120 10, 24 27, 120 54)

// Z-Index Guide 
// 14. Total Popup
// 13. Total Barrier:
// 12. Navigation:
// 11. Header:
// 10. 
//  9. 
//  8. Screens: help screen
//  5. Help Desk: 
//  7. Dash Popup:
//  6. Dash Barrier:
//  4. Consoles:
//  3. Dash Content:
//  2. Dashboard:
//  1. Toolkit:
//  0. Viewport:

html {
    overflow: hidden;
}
body {  
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;    
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: $at1;
}

// MEMBER -------------------------------------------------------------------------------------------------------------------------------

#userHeader {
    background: $t3;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 11;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 20px 20px 10px;
    grid-template-areas:  "thumbnail userName" "thumbnail userID" "userClock userClock";

    img {
        height: 40px;
        width: 40px;
        // background: $a8;
        grid-area: thumbnail;
        overflow: hidden;
    }
    #userName {
        grid-area: userName;
        font-size: 16px;
        line-height: 16px;
        margin: 4px 0 0 5px;
        font-weight: 600;
        color: $t9;
        width: max-content;
        cursor: pointer;
        letter-spacing: 1.5px;
        text-shadow: none;
        transition: color .4s, text-shadow .4s;
        &:hover {
            color: white;
            text-shadow: 0 0 3px $t0;
        }
    }
    #userID {
        grid-area: userID;
        font-size: 14px;
        width: max-content;
        font-weight: 600;
        margin: 3px 0 3px 10px;
        color: $t0;
        span {
            cursor: pointer;
            margin: 0 2px;
            transition: color .4s, text-shadow .4s;
            &:hover {
                color: $t7;
                text-shadow: 0 0 2px $t0;

            }
        }
    }
    #userClock {
        grid-area: userClock;
        background-color: $t0;
        width: 100%;
        transition: boxShadow 1s;
        box-shadow: none;

        .clockNow {box-shadow: inset 0 0 0 2px white;}

        // 1- THEME(base color, progress bar)
        // 5- THEME(missed scheduled time)
        // 7- THEME(future scheduled time)

        // 4- ACCENT(more than average work actions, +3)
        // 6- ACCENT(average work actions, +2)
        // 8- ACCENT(less than average work actions, +1)

        // 4- ALERT(no break action)
        // 6- ALERT(multiple break actions)
        // 8- ALERT(one break action)

        td:nth-child(32) {background-color: $t6;}
        td:nth-child(33) {background-color: $t6;}
        td:nth-child(34) {background-color: $t6;}
        td:nth-child(35) {background-color: $t6;}
        td:nth-child(36) {background-color: $t6;}
        td:nth-child(37) {background-color: $a6;}
        td:nth-child(38) {background-color: $a4;}
        td:nth-child(39) {background-color: $a6;}
        td:nth-child(40) {background-color: $a6;}
        td:nth-child(41) {background-color: $a8;}
        td:nth-child(42) {background-color: $at6;}
        td:nth-child(43) {background-color: $at4;}
        td:nth-child(44) {background-color: $at6;}
        td:nth-child(45) {background-color: $at4;}

        td:nth-child(49) {background-color: $a6;}
        td:nth-child(50) {background-color: $a6;}
        td:nth-child(51) {background-color: $a8;}
        td:nth-child(52) {background-color: $a8;}
        td:nth-child(53) {background-color: $a8;}
        td:nth-child(54) {background-color: $a8;}
        td:nth-child(55) {background-color: $a4;}
        td:nth-child(56) {background-color: $a4;}
        td:nth-child(57) {background-color: $a4;}
        td:nth-child(58) {background-color: $a4;}
        td:nth-child(59) {background-color: $a6;}
        td:nth-child(60) {background-color: $at6;}
        td:nth-child(61) {background-color: $a6;}
        td:nth-child(62) {background-color: $a4;}
        td:nth-child(63) {background-color: $a6;}
        td:nth-child(64) {background-color: $a8;}
        td:nth-child(65) {background-color: $a8;}
        td:nth-child(66) {background-color: $a6;}
        td:nth-child(67) {background-color: $a4;}

        td:nth-child(70) {background-color: $at8;}
        td:nth-child(71) {background-color: $at4;}
        td:nth-child(72) {background-color: $at4;}
        td:nth-child(73) {background-color: $at6;}
        td:nth-child(74) {background-color: $at6;}
        td:nth-child(75) {background-color: $at8;}
        td:nth-child(76) {background-color: $at8;}

        td:nth-child(79) {background-color: $at8;}
        td:nth-child(80) {background-color: $at8;}
        td:nth-child(81) {background-color: $at8;}
        td:nth-child(82) {background-color: $a6;}
        td:nth-child(83) {background-color: $a6;}
        td:nth-child(84) {background-color: $a8;}
        td:nth-child(85) {background-color: $a8;}
        td:nth-child(86) {background-color: $a6;}
        td:nth-child(87) {background-color: $a6;}
        td:nth-child(88) {background-color: $a8;}
        td:nth-child(89) {background-color: $a4;}
        td:nth-child(90) {background-color: $a4;}
        td:nth-child(91) {background-color: $a4;}
        td:nth-child(92) {background-color: $t8;}
        td:nth-child(93) {background-color: $t8;}
        td:nth-child(94) {background-color: $t8;}
        td:nth-child(95) {background-color: $t8;}
        td:nth-child(96) {background-color: $t8;}
        td:nth-child(97) {background-color: $t8;}
        td:nth-child(98) {background-color: $t8;}
        td:nth-child(99) {background-color: $t8;}
        td:nth-child(100) {background-color: $t8;}

        td:nth-child(115) {background-color: $t8;}
        td:nth-child(116) {background-color: $t8;}
        td:nth-child(117) {background-color: $t8;}
        td:nth-child(118) {background-color: $t8;}
        td:nth-child(119) {background-color: $t8;}
        td:nth-child(120) {background-color: $t8;}
        
        // 10 hour shift: 6h40m work (64), 3h20m break (32)
    }
}



// Navigation Panel
.navCropOpen {
    width: 300px;
    height: calc(100% - 10px);
    transition: height 1s 1s, width 1s;
}
#navCrop {

    overflow: clip;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 12;

    #navPanel {
        background: $a7;
        height: calc(100vh - 10px);
        display: grid;
        grid-template-columns: 270px 30px;
        grid-template-rows: 30px auto;
        grid-template-areas: "navPage navButton" "navBody navBody";
        z-index: 7;
        transition: background 1s, width 1s;
        overflow: hidden;
        &:hover {background-color: $a8;}
    }
    #navButton {
        position: fixed;
        background-color: $at2;
        right: 9px;
        top: 9px;
        width: 22px;
        height: 22px;
        grid-area: navButton;
        z-index: 9;
        display: block;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        transition: background .4s, box-shadow .4s;
        &:hover {
            background-color: $at4;
            box-shadow: 0 0 8px 2px $at9;
        }
    }
    #navPage {
        top: 4px;
        grid-area: navPage;
        height: 22px;
        line-height: 22px;
        vertical-align: middle;
        padding: 0 0 0 5px;
        background-color: $a3;
        border-radius: 4px;
        border: none;
        position: absolute;
        right: 30px;
        // width: 261px;
        z-index: 7;
        color: $a9;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 600;
        transition: background .4s, top .5s, width 1s;
        cursor: default;
        overflow: hidden;
    }
    #navBody {
        grid-area: navBody;
        height: calc(100% - 5px);
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
        right: 0;
        transition: width 1s;

        ul {
            // height: 30px;

            appearance: none;
            background-color: $a4;
            display: block;
            width: calc(100% - 20px);
            margin-left: 5px;
            border-radius: 4px;
            background-position-x: right;
            margin-bottom: 5px;
            padding: 5px;
            overflow: clip;
            transition: background 1s, height 1s;
            &:hover {background-color: $a5;}
            li {
                width: calc(100% - 20px);
                margin: 5px 5px 5px 10px;
                padding: 5px;
                border-radius: 4px;
                font-size: 14px;
                line-height: 20px;
                background-color: $a3;
                font-weight: 700;
                color: $a8;
                vertical-align: middle;
                cursor: pointer;
                letter-spacing: 1px;
                transition: background 1s, color 1s;
                &:hover {background-color: $a2; color: $a9;}
                &:first-child {
                    width: calc(100% - 10px);
                    background-color: $a2;
                    color: $a8;
                    margin: 0;
                    font-weight: 8px;
                    letter-spacing: 2px;
                    transition: background 1s, color 1s;
                    &:hover {background-color: $a1; color: $a9;}
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ul:last-child {
            margin-bottom: 0;
        }

        &::-webkit-scrollbar {
            border-radius: 4px;
            width: 15px;
            overflow-x: visible;
            background-color: $a5;
            cursor: pointer;
        }
        &::-webkit-scrollbar-button {
            background-color: $a4;
            border-radius: 4px 4px 0 0 ;
            height: 0;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $a3;
            border-radius: 4px;
            transition: background 1s;
        }

    }

}

// Closed
.navCropClosed {
    width: 30px;
    height: 30px;
    transition: height 1s, width 1s 1s;
} 

// Nav Tool
.navCropPage {
    width: 300px;
    height: 30px;
    transition: height 1s, width 1s;
    right: 5px;
}


//Dashboard
#userDash {

    background: $t8;
    position: fixed;
    top: 48px;
    right: 0;
    height: calc(100vh - 38px);
    margin: 0;
    z-index: 2;
    overflow: hidden;
    transition: width 1s, left 1s;
    box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.4);

}
.userDashMax {
    width: 100%;
}


// Console
#userConsole {


    width: calc(100% - 40px);
    display: block;
    position: absolute;
    overflow: hidden;
     
    border-radius: 5px;
    transition: top 1s, background 1s, box-shadow 1s, width 1s, height 1s;
    left: 10px;
    font-size: 14px;
    z-index: 4;
    cursor: pointer;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4);
    border: 5px solid $t1;
    padding: 5px;
    background-color: $t1;

    #userConsoleProgress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 4px;
        background-color: $at5;
        height: 8px; transition: width 1s;
    }
    #userConsoleTitle {
        display: grid;
        width: calc(100% - 20px);
        color: $t9;
        top: 18px;
        right: 5px;
        position: absolute;
        height: 25px;
        padding: 5px;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 1px;
    }
    #userConsoleDesk {
        
        height: calc(100% - 63px);
        display: block;
        position: absolute;
        right: 0;
        padding: 5px;
        box-shadow: inset 0 0 0 5px $t6;
        bottom: 0;
        transition: width 1s, background .4s, box-shadow .4s, height 1s;
        background-color: $t6;
        border-radius: 4px;
        cursor: default;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 5;
        &::-webkit-scrollbar {display: none;}
        &:hover {
            background-color: $t9;
            box-shadow: inset 0 0 0 5px $t9;
        }
    }

    .consoleSidebarClosed {
        width: calc(100% - 25px);
    }
    #userConsoleSidebar {
        display: block;
        height: calc(100% - 113px);
        padding: 5px;
        position: absolute;
        left: 15px;
        bottom: 5px;
        border-radius: 4px;
        background-color: $a4;
        cursor: default;
        overflow: hidden;
        transition: width 1s;

        div {
            width: calc(100% - 10px);
            display: block;
            position: relative;
            padding: 0;
            border-radius: 4px;
            color:white; 
            padding: 5px;
        }
        div:nth-child(1) {
            background-color: $a7;
            height: 140px;
        }
        div:nth-child(2) {
            background-color: $a2;
            height: calc(100% - 165px);
            margin-top: 5px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        
    }

    #userConsoleHelp {

        top: 60px;
        transition: height 1s, width 1s, left 1s;
        position: absolute;
        // width: 240px;
        background-color: $a8;
        border-radius: 4px;
        z-index: inherit;
        overflow: hidden;
        padding: 5px;
        cursor: default;
        display: grid;
        grid-template-rows: 40px calc(100% - 40px);
        grid-template-areas: "button" "content";
        #userConsoleHelpContent {
            grid-area: content;
            overflow-y: scroll;
            &::-webkit-scrollbar {display: none;}
            overflow-x: hidden;
        }
        #userConsoleHelpButton {
            background-color: $a3;
            grid-area: button;
            position: absolute;
            width: 60px;
            height: 15px;
            right: 0;
            top: 0;
            padding: 4px;
            cursor: pointer;
            display: grid;
            border-radius: 4px;
            box-shadow: 0 0 0 5px $a8;
            transition: background 1s, width 1s;
            grid-template-columns: 20px 40px;
            grid-template-areas: "? help";

            &:hover {background-color: $a5;}
            span {
                font-weight: 700;
                line-height: 15px;
            }
            span:nth-child(1) {
                text-align: center;
                font-size: 18px;
                color: $a7;
            }
            span:nth-child(2) {
                text-align: left;
                color: $a9;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }
    .consoleHelpClosed {
        width: 68px;
        height: 23px;
    }
    .consoleHelpOpen {
        height: calc(100% - 73px);
    }
    #userConsoleClose {
        top: 23px;
        right: 10px;
        height: 25px;
        width: 25px;
        position: absolute;
        background-color: $a5;
        cursor: pointer;
        border-radius: 4px;
        transition: background 1s;
        &:hover {
            background-color: $a7;
        }
    }
}
.userConsoleOpen {top: 15px;}
.userConsoleClosed {top: -150vh;}
.userConsoleState {height: calc(100% - 55px);}
.adminConsoleState {height: calc(100% - 95px);}




// ADMIN --------------------------------------------------------------------------------------------------------------------------------

#sidebar {
    position: absolute;
    display: block;
    height: calc(100vh - 48px);
    height: 100vh;
    width: 100%;
    top: 48px;
    left: 0;
    z-index: 1;
    overflow: hidden;

    #toolkit {
        height: calc(100% - 113px);
        // height: 78px;


        display: grid;
        // display: none;
        position: absolute;
        background-color: $a7;
        // width: 310px;
        top: 15px;
        border-radius: 4px;
        overflow-x: hidden;
        left: 10px;
        grid-template-rows: 40px 30px 8px auto;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
        transition: height .75s, width 1s;
        grid-template-areas: "TKtabs" "TKtitle" "TKprogress" "TKpanel";
        #toolkitHead {
            grid-area: TKtabs;
            background-color: $a7;
            overflow: hidden;
            padding: 5px 0 0 5px;
            display: flex;
            span {
                height: 35px;
                width: 30px;
                display: inline-block;
                background-color: $a2;
                position: relative;
                bottom: -5px;
                margin-right: 4px;
                border-radius: 4px 4px 0 0;
                overflow: hidden;
                transition: background .4s;
                cursor: pointer;
                &:hover {
                    background-color: $a3;
                }
            }
            .openTab {
                background-color: $a3;
                bottom: 0;
                width: 30px;
                transition: background .4s;
                &:hover {
                    background-color: $a3;
                }
            }
        }
        #toolkitTitle {
            grid-area: TKtitle;
            background-color: $a3;
            line-height: 30px;
            padding: 0 0 0 5px;
            font-size: 16px;
            color: white;
            font-weight: 600;
            letter-spacing: 1px;
        }
        #toolkitProgress {
            grid-area: TKprogress;
            background-color: $a4;
            #toolkitProgressBar {
                position: absolute;
                display: block;
                height: 8px;
                left: 0;
                width: 40%;
                background-color: $at6;
            }
        }
        #toolkitBody {
            grid-area: TKpanel;
            overflow-y: scroll;
            overflow-x: hidden;
            width: 100%;

            &::-webkit-scrollbar {
                width: 15px;
                overflow-x: visible;
                background-color: $a5;
                margin: 5px;
                cursor: pointer;
            }
            &::-webkit-scrollbar-button {
                background-color: $a4;
                height: 0;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $aX;
                transition: background 1s;
            }        
        }
    }
}



#adminFooter {
    width: 100vw;
    display: grid;
    background: $a2;
    z-index: 4;
    left: 0;
    position: absolute;
    transition: bottom 1s, height 1s;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 40px calc(100% - 40px);
    cursor: pointer;
    grid-template-areas: "tktoggle breaktimer helpdeskanchor" "breaktimeconsole breaktimeconsole breaktimeconsole";

    #TKtoggle {
        grid-area: tktoggle;
        width: 30px;
        height: 30px;
        display: block;
        margin: 5px;
        background-color: $a8;
        cursor: pointer;
        border-radius: 4px;
        #TKtoggleButton {
            display: block;
            transition: height 1s, width 1s, background .75s, margin 1s;
            border-radius: 4px;
        }
        .TKtoggleOpen {
            height: 14px;
            width: 14px;
            background: $a4;
            margin: 8px;
            &:hover {
                background: $a6;
            } 
        }
        .TKtoggleClosed {
            height: 22px;
            width: 22px;
            background: $a1;
            margin: 4px;
            &:hover {
                background: $a3;
            }
        }
        .TKtoggleNone {
            height: 0;
            width: 0;
            margin: 15px;
        }
    }
    #breakTimeHead {
        grid-area: breaktimer;
        display: grid; 
        position: absolute;
        width: calc(100vw - 80px);
        height: 40px;
        #breakTimer {
            width: calc(100vw - 100px);
            margin: 10px 10px 10px 7.5px;
            height: 20px;
            // background: violet;
            display: block;
            position: relative;
            grid-auto-columns: 10px;
            grid-template-rows: 10px;
            overflow: hidden;
            span {
                height: 10px;
                width: 10px;
                display: inline-block;
                margin: 5px 2.5px 5px 2.5px;
                background: $at7;
                top:0;
            }
        }
    }
    #helpDeskAnchor {
        grid-area: helpdeskanchor;
        width: 30px;
        height: 30px;
        display: block;
        margin: 5px;
        background-color: $at8;
        border-radius: 4px;
        position: relative;

        #helpDeskConsole {

            z-index: 5;
            border-radius: 4px;
            overflow: hidden;
            position: absolute;
            transition: width 1s, height 1s, bottom 1s, right 1s, background .75s, boxShadow 1s;

            display: block;

            #helpDeskChats {
                transition: width 1s, height 1s, bottom 1s, right 1s, background .75s, boxShadow 1s;
                background-color: $at3;
                display: block;
                overflow: hidden;
                position: absolute;
                border-radius: 4px;
                margin: 0;               
                top: 10px;
                left: 10px;
            }
            #helpDeskForm {
                transition: width 1s, height 1s, bottom 1s, right 1s, background .75s, boxShadow 1s;
                display: block;
                border-radius: 4px;
                background-color: $at6;
                overflow: hidden;
                position: absolute;
                bottom: 24px;
                right: 10px;
            }
            div:nth-child(1) {
                grid-area: button;
            }
        }
        .helpDeskOpen {
            height: calc(100vh - 66px);
            width: calc(100vw - 16px);
            right: 3px;
            bottom: 3px;
            background-color: $at4;
            box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4);
            cursor: default;
        }
        .helpDeskOpenSB {
            height: calc(100vh - 66px);
            right: 3px;
            bottom: 3px;
            background-color: $at4;
            box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4);
            cursor: default;
        }
        .helpDeskClosed {
            width: 22px;
            height: 22px;
            right: 4px;
            bottom: 4px;
            background-color: $at3;
            &:hover {
                background-color: $at5;
            }
        }
        .helpDeskNone {
            height: 0;
            width: 0;
            right: 15px;
            bottom: 15px;
        }


        
    }
    #breakTimeConsole {
        grid-area: breaktimeconsole;
        background: $a2;
        display: grid;
        cursor: default;
        position: relative;
        grid-template-rows: 10px calc(100vh - 95px);
        grid-template-areas: "head" "content";
        #breakTimeWeek {
            width: 100vw;
            height: 10px;
            grid-area: head;
            display: grid;
            position: absolute;
            top: 0;
            left: 0;
            background: $a0;
        }
        #breakTimeContent {
            overflow-y: scroll;
            overflow-x: none;
            grid-area: content;
            padding: 5px;
            width: calc(100vw - 15px);


            &::-webkit-scrollbar {
                width: 20px;
                overflow-x: visible;
                background-color: $a3;
                margin: 5px;
                cursor: pointer;
            }
            &::-webkit-scrollbar-button {
                background-color: $a4;
                height: 0;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $a3;
                transition: background 1s;
            }    
        }
    }
}
.inOffice {bottom: 0;}
.outOffice {bottom: -100px;}
.breakTimeOpen {height: calc(100vh - 55px);}
.breakTimeClosed {height: 40px;}



#adminDashCrop {
    height: calc(100vh - 123px);
    overflow-x: hidden;
    overflow-y: scroll;
    right: 15px;
    top: 65px;
    background-color: $a7;
    position: fixed;
    border-radius: 4px;
    display: block;
    transition: width 1s;
    z-index: 3;
    &::-webkit-scrollbar {display: none;}
    #adminDashboard {
        border-radius: 4px;
        display: flex;
        width: 100%;

        flex-flow: column wrap;
        align-content: flex-end;
    
    
        span:last-child {
            margin-bottom: 5px;
        }
        span {
            margin: 5px 5px 0 5px;
            // width: 290px;
            cursor: pointer;
            border-radius: 4px;
        }
        span:nth-child(1)  {height: 200px; background: $a1; margin-top: 5px;}
        span:nth-child(2)  {height: 300px; background: $a3;}
        span:nth-child(3)  {height: 400px; background: $a2;}
        span:nth-child(4)  {height: 300px; background: $a5;}
        span:nth-child(5)  {height: 500px; background: $a3;}
        span:nth-child(6)  {height: 200px; background: $a5;}
        span:nth-child(7)  {height: 400px; background: $a2;}
        span:nth-child(8)  {height: 700px; background: $a4;}
        span:nth-child(9)  {height: 400px; background: $a3;}
        span:nth-child(10) {height: 700px; background: $a5;}
    }
}
.adminDashClosed {width: 0px;}




// VIEWPORT DEPENDENT DESIGN ----------------------------------------------------------------------------------------------------------------------------


// DEVICE VIEWPORT WIDTH ---------------------------------------------------------------------------------------------------------------------------

// Micro Screen - Black (Nav, Console, Sidebar, Admin, Help Desk)
@media only screen and (min-width: 10px) {
    // Indicator
    #userThumb {background: black;}


    // Nav Responsive
    .navCropOpen {
        width: calc(100vw - 10px);
        
    }
    .navCropPage {
        width: calc(100vw - 10px);
    }
    #navPanel {
        width: calc(100vw - 10px);
        grid-template-columns: calc(100vw - 30px) 30px;
    }
    #navBody {
        width: calc(100vw - 15px);
    }
    #navPage {
        width: calc(100vw - 50px);
    }


    // Console Responsive
    .consoleSidebarOpen {
        width: calc(100% - 280px);
    }
    #userConsoleSidebar {
        width: calc(100% - 40px);
    }
    .consoleHelpClosed {
        left: 15px;
    } 
    .consoleHelpOpen {
        width: calc(100% - 40px);
        left: 15px;
    }


    // Sidebar Responsive - UNFINISHED
    .userDashMini {
        width: calc(100vw - 330px);
        width: 0;
    }
    #toolkit {
        width: calc(100vw - 20px);
    }
    .helpDeskOpenSB {
        width: calc(100vw - 16px);
    }

    // Admin Dashboard Responsive
    .adminDashOpen {
        width: calc(100% - 30px);
    }
    #adminDashboard {
        
        span {width: calc(100% - 10px)}
    }


    // Help Desk Responsive
    #helpDeskChats {
        height: calc(100% - 445px);
        width: calc(100% - 20px);
    }
    #helpDeskForm {
        height: 400px;
        width: calc(100% - 20px);
    }
}

// Narrow Smartphone - Red (Console, Admin) -------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 150px) {
    // Indicator
    #userThumb {background: hsl(0, 100%, 27%);}





    // Console Responsive
    .consoleSidebarOpen {
        width: calc(100% - 280px);
    }
    #userConsoleSidebar {
        width: 240px;
    }
    .consoleHelpClosed {
        left: 187px;
    }
    .consoleHelpOpen {
        width: 240px;
        left: 15px;
    }

    // Admin Dashboard Responsive
    .adminDashOpen {
        width: 310px;
    }
    #adminDashboard {

        span {width: 300px; }
    }

}

// Medium Smartphone - Orange ()
@media only screen and (min-width: 300px) {
    // Indicator
    #userThumb {background: hsl(35, 100%, 27%);}

}

// Wide Smartphone - Yellow (Nav)
@media only screen and (min-width: 450px) {
    // Indicator
    #userThumb {background: hsl(55, 100%, 27%);}

    // Navigation
    .navCropPage {
        width: 300px;
    }
    #navPage {
        width: 261px;
    }
    .navCropOpen {
        width: 300px;
    }
    #navPanel {
        width: 300px;
        grid-template-columns: 270px 30px;
    }
    #navBody {
        width: 295px;
    }

}

// Narrow Tablet - Green (Sidebar) --------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 650px) {
    // Indicator
    #userThumb {background: hsl(90, 100%, 27%);}


    // Sidebar Responsive
    .userDashMini {
        width: calc(100vw - 320px);
    }
    #toolkit {
        width: 300px;
    }
    .helpDeskOpenSB {
        width: calc(100vw - 336px);
    }



}

// Medium Tablet - Teal (Nav)
@media only screen and (min-width: 850px) {
    // Indicator
    #userThumb {background: hsl(175, 100%, 27%);}


    // Nav Responsive
    .navCropOpen {
        width: 500px;
        height: calc(100% - 10px);
    }
    #navPanel {
        width: 500px; 
        grid-template-columns: 470px 30px;
    }
    #navBody {
        width: 495px;
    }






}

// Wide Tablet - Blue (HelpDesk, Console)
@media only screen and (min-width: 1050px) {
    // Indicator
    #userThumb {background: hsl(215, 100%, 27%);}



    // Help Desk Responsive
    #helpDeskChats {
        height: calc(100% - 34px);
        width: calc(100% - 420px);
    }
    #helpDeskForm {
        height: calc(100% - 34px);
        width: 390px;
    }

    // Console Responsive
    .consoleSidebarOpen {
        width: calc(100% - 380px);
    }
    #userConsoleSidebar {
        width: 340px;
    }
    .consoleHelpClosed {
        left: 287px;
    }
    .consoleHelpOpen {
        width: 340px;
        left: 15px;
    }

}

// Narrow Laptop - Purple (Sidebar) -------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 1300px) {
    // Indicator
    #userThumb {background: hsl(270, 100%, 27%);}


    // Sidebar Responsive
    .userDashMini {
        width: calc(100vw - 420px);
    }
    #toolkit {
        width: 400px;
    }
    .helpDeskOpenSB {
        width: calc(100vw - 436px);
    }


}

// Medium Laptop - Pink (Nav, Console)
@media only screen and (min-width: 1550px) {
    // Indicator
    #userThumb {background: hsl(290, 100%, 27%);}

    // Nav Responsive
    .navCropOpen {
        width: 700px;
        height: calc(100% - 10px);
    }
    #navPanel {
        width: 700px; 
        grid-template-columns: 670px 30px;
    }
    #navBody {
        width: 695px;
    }

    // Console Responsive

    .consoleSidebarOpen {
        width: calc(100% - 480px);
    }
    #userConsoleSidebar {
        width: 440px;
    }
    .consoleHelpClosed {
        left: 387px;
    }
    .consoleHelpOpen {
        width: 440px;
        left: 15px;
    }

}

// Wide Laptop - Raspberry ()
@media only screen and (min-width: 1800px) {
    // Indicator
    #userThumb {background: hsl(335, 100%, 27%);}








}

// Narrow Desktop - White (Console, Sidebar) -----------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 2000px) {
    // Indicator
    #userThumb {background-color: white;}

    // Console Responsive
    .consoleSidebarOpen {
        width: calc(100% - 580px);
    }
    #userConsoleSidebar {
        width: 540px;
    }
    .consoleHelpClosed {
        left: 487px;
    }
    .consoleHelpOpen {
        width: 540px;
        left: 15px;
    }

    // Sidebar Responsive
    .userDashMini {
        width: calc(100vw - 570px);
    }
    #toolkit {
        width: 550PX;
    }
    .helpDeskOpenSB {
        width: calc(100vw - 586px);
    }


}

// Medium Desktop - Gray ()
@media only screen and (min-width: 2300px) {
    // Indicator
    #userThumb {background: rgb(102, 102, 102);}



}

// Wide Desktop - Black (Sidebar)
@media only screen and (min-width: 2600px) {
    // Indicator
    #userThumb {background: black;}


    // Sidebar Responsive
    .userDashMini {
        width: calc(100vw - 670px);
    }
    #toolkit {
        width: 650PX;
    }
    .helpDeskOpenSB {
        width: calc(100vw - 686px);
    }
}





// DEVICE VIEWPORT HEIGHT -----------------------------------------------------------------------------------------------------------------------------------------------------------


// Indicators

// Minimum Height - Red ()
@media only screen and (min-height: 10px) {
    // Indicator 
    #temporaryHeightIndicator {background-color: red;}




}
// Short Screens - Yellow ()
@media only screen and (min-height: 400px) {
    // Indicator 
    #temporaryHeightIndicator {background-color: yellow;}


}
// Medium Screens - Green ()
@media only screen and (min-height: 800px) {
    // Indicator 
    #temporaryHeightIndicator {background-color: green;}


}
// Tall Screens - Blue ()
@media only screen and (min-height: 1200px) {
    // Indicator 
    #temporaryHeightIndicator {background-color: blue;}

    

}














// DEVICE VIEWPORT HEIGHT AND WIDTH -------------------------------------------------------------------------------------------------------------------------



// Help Desk Responsive


@media only screen and (min-height: 10px) and (min-width: 10px) {

    #helpDeskChats {
        height: calc(100% - 195px);
    }
    #helpDeskForm {
        height: 150px;
    }

}
@media only screen and (min-height: 500px) and (min-width: 10px) {

    #helpDeskChats {
        height: calc(100% - 295px);
    }
    #helpDeskForm {
        height: 250px;
    }

}
@media only screen and (min-height: 800px) and (min-width: 10px) {

    #helpDeskChats {
        height: calc(100% - 445px);
    }
    #helpDeskForm {
        height: 400px;
    }    
}
@media only screen and (min-height: 1200px) and (min-width: 10px) {

    #helpDeskChats {
        height: calc(100% - 545px);
    }
    #helpDeskForm {
        height: 500px;
    }    
}


@media only screen and (min-height: 10px) and (min-width: 1050px) {

    #helpDeskChats {
        height: calc(100% - 34px);
    }
    #helpDeskForm {
        height: calc(100% - 34px);
    }

}
@media only screen and (min-height: 400px) and (min-width: 1050px) {

    #helpDeskChats {
        height: calc(100% - 34px);
    }
    #helpDeskForm {
        height: calc(100% - 34px);
    }

}
@media only screen and (min-height: 800px) and (min-width: 1050px) {

    #helpDeskChats {
        height: calc(100% - 34px);
    }
    #helpDeskForm {
        height: calc(100% - 34px);
    }    
}
@media only screen and (min-height: 1200px) and (min-width: 1050px) {

    #helpDeskChats {
        height: calc(100% - 34px);
    }
    #helpDeskForm {
        height: calc(100% - 34px);
    }    
}










//---------------------------------------------------------------------------------------------------------------------------------------
// To Do List:
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 


