html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  border-collapse: collapse;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #b654b6;
}

#userHeader {
  background: #29333d;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 48px;
  z-index: 9;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  -ms-grid-rows: 20px 20px 8px;
      grid-template-rows: 20px 20px 8px;
      grid-template-areas: "thumbnail userName" "thumbnail userID" "userProgress userProgress";
}

#userHeader img {
  height: 40px;
  width: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: thumbnail;
  background-color: #ce8dce;
  overflow: hidden;
}

#userHeader #userName {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: userName;
  font-size: 16px;
  line-height: 16px;
  margin: 4px 0 0 5px;
  font-weight: 600;
  color: #b6c2ce;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: none;
  -webkit-transition: color .4s, text-shadow 1s;
  transition: color .4s, text-shadow 1s;
}

#userHeader #userName:hover {
  color: white;
  text-shadow: 0 0 4px 2px #daa9da;
}

#userHeader #userID {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: userID;
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  margin: 3px 0 3px 10px;
  color: #6c859d;
}

#userHeader #userID span {
  cursor: pointer;
  margin: 0 2px;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#userHeader #userID span:hover {
  color: #9dadbe;
}

#userHeader #userProgress {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: userProgress;
  background-color: #080a0c;
  width: 100%;
}

#userHeader #userProgress .progressNow {
  -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white;
}

#userHeader #userProgress td:nth-child(37) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(38) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(39) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(40) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(41) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(42) {
  background-color: #b5d161;
}

#userHeader #userProgress td:nth-child(43) {
  background-color: #b5d161;
}

#userHeader #userProgress td:nth-child(44) {
  background-color: #b5d161;
}

#userHeader #userProgress td:nth-child(45) {
  background-color: #b5d161;
}

#userHeader #userProgress td:nth-child(49) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(50) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(51) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(52) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(53) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(54) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(55) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(56) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(57) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(58) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(59) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(60) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(61) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(62) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(63) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(64) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(65) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(66) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(67) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(70) {
  background-color: #8fae32;
}

#userHeader #userProgress td:nth-child(71) {
  background-color: #8fae32;
}

#userHeader #userProgress td:nth-child(72) {
  background-color: #8fae32;
}

#userHeader #userProgress td:nth-child(73) {
  background-color: #8fae32;
}

#userHeader #userProgress td:nth-child(79) {
  background-color: #8fae32;
}

#userHeader #userProgress td:nth-child(80) {
  background-color: #8fae32;
}

#userHeader #userProgress td:nth-child(81) {
  background-color: #8fae32;
}

#userHeader #userProgress td:nth-child(82) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(83) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(84) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(85) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(86) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(87) {
  background-color: #813781;
}

#userHeader #userProgress td:nth-child(88) {
  background-color: #b654b6;
}

#userHeader #userProgress td:nth-child(89) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(90) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(91) {
  background-color: #471f47;
}

#userHeader #userProgress td:nth-child(92) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(93) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(94) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(95) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(96) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(97) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(98) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(99) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(100) {
  background-color: #6c859d;
}

#userHeader #userProgress td:nth-child(133) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(134) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(135) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(136) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(137) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(138) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(139) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(140) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(141) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(142) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(143) {
  background-color: #d3e3a0;
}

#userHeader #userProgress td:nth-child(144) {
  background-color: #d3e3a0;
}

#navCrop {
  width: 30px;
  height: 30px;
  -webkit-transition: height 1s, width 1s 1s;
  transition: height 1s, width 1s 1s;
  overflow: clip;
  border-radius: 5px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 10;
}

#navCrop #navPanel {
  background: #c270c2;
  width: 300px;
  height: calc(100vh - 10px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 30px;
      grid-template-columns: 270px 30px;
  -ms-grid-rows: 30px auto;
      grid-template-rows: 30px auto;
      grid-template-areas: "navPage navButton" "navBody navBody";
  z-index: 7;
  -webkit-transition: background 1s;
  transition: background 1s;
}

#navCrop #navPanel:hover {
  background-color: #ce8dce;
}

#navCrop #navButton {
  position: fixed;
  background-color: #471f47;
  right: 9px;
  top: 9px;
  width: 22px;
  height: 22px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navButton;
  z-index: 9;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-transition: background .4s, -webkit-box-shadow .4s;
  transition: background .4s, -webkit-box-shadow .4s;
  transition: background .4s, box-shadow .4s;
  transition: background .4s, box-shadow .4s, -webkit-box-shadow .4s;
}

#navCrop #navButton:hover {
  background-color: #813781;
  -webkit-box-shadow: 0 0 8px 2px #daa9da;
          box-shadow: 0 0 8px 2px #daa9da;
}

#navCrop #navPage {
  top: 4px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navPage;
  height: 22px;
  line-height: 22px;
  padding: 0 0 0 5px;
  background-color: #642b64;
  border-radius: 4px;
  border: none;
  position: absolute;
  right: 30px;
  width: 261px;
  z-index: 7;
  color: #daa9da;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: background .4s, top .5s;
  transition: background .4s, top .5s;
}

#navCrop #navPage:hover {
  background-color: #813781;
}

#navCrop #navPage::-webkit-input-placeholder {
  color: #daa9da;
}

#navCrop #navPage:-ms-input-placeholder {
  color: #daa9da;
}

#navCrop #navPage::-ms-input-placeholder {
  color: #daa9da;
}

#navCrop #navPage::placeholder {
  color: #daa9da;
}

#navCrop #navBody {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: navBody;
  width: 295px;
  height: calc(100% - 5px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  right: 0;
}

#navCrop #navBody ul {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #813781;
  display: block;
  width: 260px;
  margin-left: 5px;
  border-radius: 4px;
  background-position-x: right;
  margin-bottom: 5px;
  padding: 5px;
  overflow: clip;
  -webkit-transition: background 1s, height 1s;
  transition: background 1s, height 1s;
}

#navCrop #navBody ul:hover {
  background-color: #9d439d;
}

#navCrop #navBody ul li {
  width: 240px;
  margin: 5px 5px 5px 10px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  background-color: #642b64;
  font-weight: 700;
  color: #ce8dce;
  vertical-align: middle;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: background 1s, color 1s;
  transition: background 1s, color 1s;
}

#navCrop #navBody ul li:hover {
  background-color: #471f47;
  color: #daa9da;
}

#navCrop #navBody ul li:first-child {
  width: 250px;
  background-color: #471f47;
  color: #ce8dce;
  margin: 0;
  font-weight: 8px;
  letter-spacing: 2px;
  -webkit-transition: background 1s, color 1s;
  transition: background 1s, color 1s;
}

#navCrop #navBody ul li:first-child:hover {
  background-color: #2b122b;
  color: #daa9da;
}

#navCrop #navBody ul li:last-child {
  margin-bottom: 0;
}

#navCrop #navBody ul:last-child {
  margin-bottom: 0;
}

#navCrop #navBody::-webkit-scrollbar {
  border-radius: 4px;
  width: 15px;
  overflow-x: visible;
  cursor: pointer;
}

#navCrop #navBody::-webkit-scrollbar-track {
  background-color: #9d439d;
  width: 10px;
}

#navCrop #navBody::-webkit-scrollbar-button {
  background-color: #813781;
  border-radius: 4px 4px 0 0;
}

#navCrop #navBody::-webkit-scrollbar-button:vertical:decrement {
  border-radius: 4px 4px 0 0;
}

#navCrop #navBody::-webkit-scrollbar-button:vertical:increment {
  border-radius: 0 0 4px 4px;
}

#navCrop #navBody::-webkit-scrollbar-thumb {
  background-color: #642b64;
  border-radius: 4px;
  -webkit-transition: background 1s;
  transition: background 1s;
}

#userDash {
  width: calc(100vw - 325px);
  background: #6c859d;
  position: fixed;
  top: 48px;
  right: 0;
  height: calc(100vh - 38px);
  margin: 0;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: width 1s, left 1s;
  transition: width 1s, left 1s;
  -webkit-box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.4);
}

#userConsole {
  display: -ms-grid;
  display: grid;
  top: 0;
  top: -100vh;
  width: calc(100% - 10px);
  position: absolute;
  z-index: 4;
  height: calc(100vh - 63px);
  margin: 10px 5px 5px 5px;
  border-radius: 4px;
  overflow: clip;
  background-color: #181f25;
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition: top 1s, background 1s;
  transition: top 1s, background 1s;
  cursor: pointer;
  -ms-grid-columns: 40px calc(100% - 40px);
      grid-template-columns: 40px calc(100% - 40px);
  -ms-grid-rows: 40px calc(100% - 40px);
      grid-template-rows: 40px calc(100% - 40px);
      grid-template-areas: "consoleHead consoleHead" "consoleTabs consoleInfo";
}

#userConsole:hover {
  background-color: #29333d;
}

#userConsole #userConsoleHead {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: consoleHead;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8px 32px;
      grid-template-rows: 8px 32px;
  -ms-grid-columns: calc(100% - 96px) 32px 32px 32px;
      grid-template-columns: calc(100% - 96px) 32px 32px 32px;
      grid-template-areas: "progress progress progress progress" "title pause help close";
}

#userConsole #userConsoleHead #userConsoleProgress {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: progress;
  background-color: #a6c841;
  width: 69%;
  -webkit-transition: width 1s;
  transition: width 1s;
}

#userConsole #userConsoleHead #userConsoleTitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  line-height: 40px;
  font-size: 20px;
  vertical-align: middle;
  color: #b6c2ce;
  font-weight: 700;
  margin-left: 5px;
  letter-spacing: 2px;
}

#userConsole #userConsoleHead #userConsolePause {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pause;
  height: 27px;
  width: 27px;
  margin: 5px 5px 0 0;
  background-color: #9d439d;
  border-radius: 4px;
  -webkit-transition: background 1s;
  transition: background 1s;
}

#userConsole #userConsoleHead #userConsolePause:hover {
  background-color: #c270c2;
}

#userConsole #userConsoleHead #userConsoleHelp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: help;
  height: 27px;
  width: 27px;
  margin: 5px 5px 0 0;
  background-color: #9d439d;
  border-radius: 4px;
  line-height: 27px;
  font-size: 20px;
  color: #0e060e;
  font-weight: 700;
  text-align: center;
  -webkit-transition: background 1s;
  transition: background 1s;
}

#userConsole #userConsoleHead #userConsoleHelp:hover {
  background-color: #c270c2;
}

#userConsole #userConsoleHead #userConsoleClose {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: close;
  height: 27px;
  width: 27px;
  margin: 5px 5px 0 0;
  background-color: #642b64;
  border-radius: 4px;
  -webkit-transition: background 1s;
  transition: background 1s;
}

#userConsole #userConsoleHead #userConsoleClose:hover {
  background-color: #9d439d;
}

#userConsole #userConsoleTabs {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: consoleTabs;
  width: 30px;
  height: calc(100% - 65px);
  margin: 25px 5px 5px 5px;
  background-color: #9d439d;
  border-radius: 4px;
  cursor: default;
}

#userConsole #userConsoleInfo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: consoleInfo;
  width: calc(100% - 5px);
  height: calc(100% - 50px);
  margin: 10px 5px 5px 0;
  background-color: #394756;
  border-radius: 4px;
  cursor: default;
}

#userConsole #userConsoleDesk {
  width: calc(100% - 20px);
  bottom: 5px;
  height: calc(100% - 60px);
  border-radius: 4px;
  display: block;
  position: absolute;
  right: 5px;
  background-color: #6c859d;
  padding: 5px;
  z-index: 4;
  -webkit-transition: background 1s, height 1s, bottom 1s, width 1s;
  transition: background 1s, height 1s, bottom 1s, width 1s;
  cursor: default;
}

#userConsole #userConsoleDesk:hover {
  background-color: #9dadbe;
}

#helpScreen {
  top: 48px;
  top: -100%;
  width: 250px;
  height: 45vh;
  background-color: #b654b6;
  position: absolute;
  right: 5px;
  z-index: 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px calc(45vh - 30px);
      grid-template-rows: 30px calc(45vh - 30px);
      grid-template-areas: "head" "body";
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition: background 1s,  top 1s;
  transition: background 1s,  top 1s;
}

#helpScreen:hover {
  background-color: #ce8dce;
}

#helpScreen section:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
  background-color: #813781;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 30px calc(100% - 60px) 30px;
      grid-template-rows: 30px;
      grid-template-areas: "help element x";
  cursor: pointer;
}

#helpScreen section:nth-child(1) div {
  line-height: 30px;
  text-align: center;
}

#helpScreen section:nth-child(1) div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: help;
  font-size: 20px;
  color: #daa9da;
  font-weight: 800;
}

#helpScreen section:nth-child(1) div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: element;
  font-size: 14px;
  color: white;
  letter-spacing: .5px;
  font-weight: 600;
  text-align: left;
}

#helpScreen section:nth-child(1) div:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: x;
  font-size: 14px;
  color: #272f0e;
  font-weight: 600;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: #a6c841;
  border-radius: 4px;
  margin: 5px;
  -webkit-transition: background 1s;
  transition: background 1s;
}

#helpScreen section:nth-child(1) div:nth-child(3):hover {
  background-color: #b5d161;
}

#helpScreen section:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: body;
  width: 100%;
}

#adminConsole {
  display: block;
  bottom: 50px;
  position: absolute;
  overflow: hidden;
  height: calc(100% - 60px);
  width: calc(100% - 20px);
  border-radius: 5px;
  -webkit-transition: bottom 2s, background 1s, -webkit-box-shadow 1s;
  transition: bottom 2s, background 1s, -webkit-box-shadow 1s;
  transition: bottom 2s, background 1s, box-shadow 1s;
  transition: bottom 2s, background 1s, box-shadow 1s, -webkit-box-shadow 1s;
  left: 10px;
  font-size: 14px;
  z-index: 4;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 5px #2b122b;
          box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 5px #2b122b;
  background-color: #2b122b;
}

#adminConsole:hover {
  background-color: #471f47;
  -webkit-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 5px #471f47;
          box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.4), inset 0 0 0 5px #471f47;
}

#adminConsole #adminConsoleDesk {
  width: calc(100% - 290px);
  display: block;
  height: calc(100% - 20px);
  position: absolute;
  right: 5px;
  padding: 5px;
  -webkit-box-shadow: inset 0 0 0 5px #b654b6;
          box-shadow: inset 0 0 0 5px #b654b6;
  overflow: hidden;
  top: 5px;
  -webkit-transition: width 1s, background 1s, -webkit-box-shadow 1s;
  transition: width 1s, background 1s, -webkit-box-shadow 1s;
  transition: width 1s, background 1s, box-shadow 1s;
  transition: width 1s, background 1s, box-shadow 1s, -webkit-box-shadow 1s;
  background-color: #b654b6;
  border-radius: 4px;
  cursor: default;
}

#adminConsole #adminConsoleDesk:hover {
  background-color: #c270c2;
  -webkit-box-shadow: inset 0 0 0 5px #c270c2;
          box-shadow: inset 0 0 0 5px #c270c2;
}

#adminConsole #adminConsoleMeta {
  display: block;
  height: calc(100% - 20px);
  width: calc(100% - 30px);
  padding: 5px;
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 5px;
  border-radius: 4px;
  color: #daa9da;
  cursor: default;
}

#helperDesk {
  display: none;
  z-index: 5;
  overflow: hidden;
}

#helperDesk .helperChatWindow {
  bottom: 30px;
  background-color: #813781;
  display: -ms-grid;
  display: grid;
  width: 200px;
  height: calc(100vh - 98px);
  right: 5px;
  -webkit-transition: bottom 1s,background 1s;
  transition: bottom 1s,background 1s;
  position: absolute;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
  z-index: 5;
  overflow: hidden;
  -ms-grid-rows: 80px 4fr 5fr;
      grid-template-rows: 80px 4fr 5fr;
  -ms-grid-columns: 200px;
      grid-template-columns: 200px;
      grid-template-areas: "head" "chat" "tool";
}

#helperDesk .helperChatWindow section:nth-child(1) {
  display: block;
  background-color: #471f47;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
  -webkit-transition: background 1s;
  transition: background 1s;
  cursor: pointer;
}

#helperDesk .helperChatWindow section:nth-child(1):nth-child(1):hover {
  background-color: #642b64;
}

#helperDesk .helperChatWindow section:nth-child(2) {
  display: block;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: chat;
}

#helperDesk .helperChatWindow section:nth-child(3) {
  display: block;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tool;
}

#helperDesk .helperChatWindow:hover {
  background-color: #9d439d;
}

#sidebar {
  position: absolute;
  display: block;
  height: calc(100vh - 48px);
  width: 100%;
  top: 48px;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

#sidebar #quickTools {
  display: -ms-grid;
  display: grid;
  position: absolute;
  background-color: #c270c2;
  width: 310px;
  top: 5px;
  height: calc(100% - 40px);
  border-radius: 4px;
  overflow: hidden;
  left: 5px;
  -ms-grid-rows: 40px 30px auto;
      grid-template-rows: 40px 30px auto;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
      grid-template-areas: "QTtabs" "QTtitle" "QTpanel";
  -webkit-transition: background 1s;
  transition: background 1s;
}

#sidebar #quickTools:hover {
  background-color: #ce8dce;
}

#sidebar #quickTools #quickToolsHead {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: QTtabs;
  background-color: #c270c2;
  overflow: hidden;
  padding: 5px 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sidebar #quickTools #quickToolsHead span {
  height: 35px;
  width: 30px;
  display: inline-block;
  background-color: #471f47;
  position: relative;
  bottom: -5px;
  margin-right: 4px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  -webkit-transition: background .4s;
  transition: background .4s;
  cursor: pointer;
}

#sidebar #quickTools #quickToolsHead span:hover {
  background-color: #642b64;
}

#sidebar #quickTools #quickToolsHead .openTab {
  background-color: #642b64;
  bottom: 0;
  width: 30px;
  -webkit-transition: background .4s;
  transition: background .4s;
}

#sidebar #quickTools #quickToolsHead .openTab:hover {
  background-color: #642b64;
}

#sidebar #quickTools #quickToolsTitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: QTtitle;
  background-color: #642b64;
  line-height: 30px;
  padding: 0 0 0 5px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

#sidebar #quickTools #quickToolsBody {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: QTpanel;
}

#adminFooter {
  bottom: 0;
  background-color: #272f0e;
  height: 30px;
  display: block;
  width: 100%;
  z-index: 4;
  position: absolute;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  -webkit-box-shadow: 0px -2px 6px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px -2px 6px 2px rgba(0, 0, 0, 0.4);
}

#adminFooter #adminFooterMenu {
  width: 20px;
  height: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  bottom: 5px;
  -webkit-transition: width 1s, height 1s, background 1s, bottom 1s, -webkit-box-shadow 1s;
  transition: width 1s, height 1s, background 1s, bottom 1s, -webkit-box-shadow 1s;
  transition: width 1s, height 1s, background 1s, bottom 1s, box-shadow 1s;
  transition: width 1s, height 1s, background 1s, bottom 1s, box-shadow 1s, -webkit-box-shadow 1s;
  position: absolute;
  left: 5px;
  background-color: #758e29;
  cursor: pointer;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: calc(100% - 30px) 30px;
      grid-template-rows: calc(100% - 30px) 30px;
      grid-template-areas: "content" "button";
}

#adminFooter #adminFooterMenu:hover {
  background-color: #8fae32;
}

#adminFooter #adminFooterMenu #adminFooterMenuContent {
  background-color: #c4da81;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  border-radius: 4px 4px 0 0;
  -webkit-transition: background 1s;
  transition: background 1s;
  cursor: default;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -2px 6px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 -2px 6px 2px rgba(0, 0, 0, 0.4);
  z-index: inherit;
}

#adminFooter #adminFooterMenu #adminFooterMenuContent:hover {
  background-color: #d3e3a0;
}
/*# sourceMappingURL=style.css.map */